[2016-02-24 02:04] nouiz commented on #4110
I mean 1.11rc1: https://github.com/numpy/numpy/tree/v1.11.0rc1
release note: https://github.com/numpy/numpy/blob/master/doc/release/1.11.0-notes.rst

[2016-02-24 02:13] nouiz commented on #3752
This was done by gh-3931.

[2016-02-24 02:13] #3752 closed

[2016-02-24 02:28] nouiz commented on #2540
Now if I run just that test, it take just 9s. So I'm closing this issue.

[2016-02-24 02:28] #2540 closed

[2016-02-24 08:52] Gandhi-Sagar opened #4112 "Theano with OpenCL tries to use nvcc and hence fails"
After a series of pains, I have installed Theano on a machine with AMD graphics card - `Radeon HD 5450 (Cedar)`. It works perfect with [Hello World](http://deeplearning.net/software/theano/tutorial/using_gpu.html#testing-theano-with-gpu)

Now, consider the following code:
[code]
I get a series of errors:

[code]
and there is series of same messages. So it seems that because `nvcc` is not found, it

[2016-02-24 13:34] #4098 closed

[2016-02-24 14:12] fvisin opened #4113 "Improve "Extending theano - graph structures""
@adri-romsor recently read the graph structures tutorial and pointed out that the [graph structures extension section](http://deeplearning.net/software/theano/extending/graphstructures.html#graph-structures-extension) is not easily understandable and refers to commands that are not explained nor referenced (e.g. fgraph). I propose to remove this section altogether, as it doesn't seem to add much.

[2016-02-24 16:34] lamblin opened #4114 "Helper function checking for stack traces"
Sub-ticket of #3018.
For tests, we would need a helper function to check that some variables in an optimized graph have a stack trace. Some things we should be able to specify:
- check the outputs
- check all variables
- check all variables where the owner's op is in instance of some classes

This would be better than only checking the output.

[2016-02-24 16:38] lamblin opened #4115 "Keep stack trace in opt: theano/gpuarray"
##Sub-ticket of #3018.
Use copy_stack_trace for optimizations defined in `theano/gpuarray/`, and add checks that the stack trace is still there during tests.

[2016-02-24 17:30] nouiz commented on #3812
As there is no activity, I suppose the update fixed your problem.

[2016-02-24 17:30] #3812 closed

[2016-02-24 17:31] nouiz commented on #3672
@abergeron is this still relevent?

[2016-02-24 17:34] nouiz commented on #3545
I'll close this as there is no activity and the last suggestion seem to fix the problem. If not, tell us.

[2016-02-24 17:34] #3545 closed

[2016-02-24 17:37] nouiz commented on #3383
I'll close this as there is no activity and the last comment should fix the problem.

[2016-02-24 17:37] #3383 closed

[2016-02-24 17:38] nouiz commented on #2826
This is done: https://github.com/Theano/Theano/pull/3768

[2016-02-24 17:38] #2826 closed

[2016-02-24 17:39] nouiz commented on #2311
There is now d3viz, so closing.

[2016-02-24 17:39] #2311 closed

[2016-02-24 17:40] nouiz commented on #1905
This is an old and not used anymore implementation, so closing.

[2016-02-24 17:40] #1905 closed

[2016-02-24 18:08] nouiz commented on #4112
Theano OpenCL is close to working, but we don't work on it. So I can guide you on how to fix this, one, but there will be others one following fix. We need someone from the community that help us make it work. Are you interrested? Here is the issue that describe the current status:

https://github.com/Theano/Theano/issues/2936

To fix this error, go in the file theano/sandbox/gpuarray/opt.py. You

[2016-02-24 18:19] nouiz commented on #3971
I tested cudnn v4 final and it return that error. So I'm closing this issue.

[2016-02-24 18:19] #3971 closed

[2016-02-24 20:32] yash14123 commented on #4113
On it. :)

[2016-02-24 20:32] yash14123 commented on #4111
Working on it.

[2016-02-24 20:37] yash14123 commented on #4075
Fixing this one in the following PR.

[2016-02-24 20:59] nouiz opened #4117 "Scan GPU test failure: theano.scan_module.tests.test_scan.T_Scan_Gpuarray"
In the daily buildbot:
[code]

I'm tring to resume the problem here. Mostly this is due to the optimization PushOutScanOutput. There is probably also interaction with Scan.infer_shape!

I did a PR that tried to fix this, but it have other tests failing: https://github.com/Theano/Theano/pull/3797/files. Not sure why those tests fail. This PR change some code in Scan.infer_shape, but not change the

[2016-02-25 02:17] sunshineatnoon opened #4119 "My model doesn't train well when updating to 0.8"
I trained a model on Theano 0.7 and it works fine. The loss function looks like this:

![Theano 0.7](https://raw.githubusercontent.com/sunshineatnoon/sunshineatnoon.github.io/master/images/loss_theano7.jpg)
But when I updated to Theano 0.8, my model didn't train well like before, it seems the loss can't keep decreasing after just 2,3 epochs. The loss function looks like this:

![Theano 0.8](https:

[2016-02-25 03:05] nouiz commented on #4119
Can you do a git bisect to identify more when this problem got introduced
in Theano?

On Wed, Feb 24, 2016 at 9:17 PM, SunshineAtNoon <notifications@github.com>
wrote:

[2016-02-25 04:58] tttwwy opened #4120 "is there any example of h_softmax"
I am interest in the theano.tensor.nnet.h_softmax, but I don't know how to use it.
for the softmax,the code is
y = T.nnet.softmax(T.dot(W, x) + b)
If I want to switch the softmax to h_softmax, what should I do?
Thank you very much.

[2016-02-25 12:53] Gandhi-Sagar commented on #4112
Yes, I would like to contribute. I can devote around 1 hour (almost) every day and may be 2 hours on weekend. Just to make a note, I consider myself more skilled at C++ than Python, I have already taken up to learn Python and I am doing good. Overall, I think I understand Computer in general, so I will be able to pick up the things.
I will join the mailing list later today. In a meanwhile, is ther

[2016-02-25 13:39] nouiz commented on #4112
On Thu, Feb 25, 2016 at 7:53 AM, Gandhi-Sagar <notifications@github.com>
wrote:

For Theano itself, there is some, but not much is writen for the new GPU
array back-end. Maybe the best for now is that you continue to tell us the
error and I guide you. I will be easier to point to doc related to the
specific error.

For Theano doc, there is the tutorial:

http://deeplearning.net/software/theano/tut

[2016-02-25 13:41] nouiz commented on #4120
We have this doc:

http://deeplearning.net/software/theano/library/tensor/nnet/nnet.html#theano.tensor.nnet.h_softmax

Otherwise there is the tests that can help understand how to use it:

https://github.com/Theano/Theano/blob/master/theano/tensor/nnet/tests/test_nnet.py#L1560

On Wed, Feb 24, 2016 at 11:58 PM, xiaose <notifications@github.com> wrote:

[2016-02-25 14:40] bouthilx opened #4122 "Add a tutorial for hierarchical softmax"
Hierarchical softmax is widely used but is less straightforward than vanilla softmax. We should add a simple tutorial about language models with a focus on hierarchical softmax.

[2016-02-25 14:58] nouiz commented on #653
Just a note that in cmodule.py, the method module_from_key() could be the right place to call to cache the compilation.

[2016-02-25 16:37] EderSantana commented on #3424
@nouiz have you thought about JIT with numba? wouldn't Pypy require a separate Python install?

[2016-02-25 16:57] nouiz commented on #3424
numba is for numerical computation. There is an example to reuse to have
faster Op with only python c.

http://deeplearning.net/software/theano/extending/other_ops.html?highlight=numba#numba-ops

But it can't help during the optimization, as this is generic python code
(function call, conditions, ...)

Do you have other information? I didn't use much Numba, so I could be wrong.

On Thu, Feb 25, 20

[2016-02-25 17:17] EderSantana commented on #3424
On that same subject, PyPy updated their C-API http://morepypy.blogspot.ch/2016/02/c-api-support-update.html

Yeah, Numba for sure helps the most if you are running for loops and iterating through arrays. But I thought the optimization required here would be pretty much it.

A third idea would be to implement a few slow functions in cython. Which is the approach people are taking in spaCy, the nlp

[2016-02-25 18:12] elanmart commented on #3424
+1

[2016-02-25 19:50] nouiz commented on #3424
Doc for optimization is in a few files. Go in this page:

http://deeplearning.net/software/theano/extending/index.html#extending

and grep for "opt", you will find those pages/sections.

If you want to help and also help yourself at the same time, I think the
best approch is to profile the optimizer in your code and we can see which
optimization is needed in your case. To profile that, see
http://

[2016-02-25 19:55] EderSantana commented on #3424
Thanks! @nouiz I'll check it out!

[2016-02-25 20:39] rizar opened #4123 "EquilibriumOptimizer is misbehaving"
See the error message below. I don't have a ready small example, but if this error message alone is not informative enough, I can try to localize the bug.

[code]

[2016-02-25 20:43] nouiz commented on #4123
I just need a function_dump to be able to regenerate it:

http://www.deeplearning.net/software/theano/library/compile/function.html#theano.compile.function.function_dump

If you use blocks, you need to add an extra parameter *extra_tag_to_remove*

On Thu, Feb 25, 2016 at 3:39 PM, Dzmitry Bahdanau <notifications@github.com>
wrote:

[2016-02-25 20:48] nouiz opened #4124 "Scan memory/speed trade-off"
When you take the gradient of scan, this scan grad need the full output of the forward scan. So this take much memory. It is possible to only save part of the forward output and to recompute it during the grad to have a much lower memory peak. As the grad of scan take about 6x more time the then forward, we execpt a ~20% slowdown of this, but with a much lower memory peak.

We will make example of

[2016-02-26 02:52] rizar commented on #4123
Can you access the [link](https://www.dropbox.com/s/1crmnh7pvjq28x6/dump.pkl?dl=0)?

[2016-02-26 14:15] nouiz commented on #4080
https://github.com/Theano/Theano/pull/4013 will make sure the optimization that reintroduce them fail. So we won't duplicate scan again.

[2016-02-26 14:16] nouiz commented on #4080
But we still need to fix the underlying problem.

[2016-02-26 14:48] nouiz commented on #3741
@abergeron is this fixed?

[2016-02-26 15:23] nouiz commented on #4014
If I execute this code with floatX=float64 or floatX=float32, then it don't blow up with the current Theano development version:

http://www.deeplearning.net/software/theano/install.html#bleeding-edge-install-instructions

Can you try it to confirm it also work in your setup? If not, what other Theano flags do you use.

Do you use mode=fast_compile? If so, this is normal as this disable stability

[2016-02-26 15:54] carriepl opened #4130 "Bug in memory profiling"
Trying to run a script with the flags "profile=True,profile_memory=True", I get the error :
[code]

This error occurs when I have nested Scans in my graph but doesn't happen if I don't go deeper than one Scan level.

[2016-02-26 17:05] #4117 closed

[2016-02-26 17:26] Sentient07 opened #4131 "GPU tests fail on current master"
When i ran the nose tests on theano/gof/tests, the tests failed with the following traceback:
Full traceback :

[code]

[2016-02-26 19:20] taesupkim commented on #4054
There is no PEP8 error for this issue, and no need to check docstring as all of them as for test.

[2016-02-26 22:14] mikeloukides commented on #1871
That solution doesn't work on OS X 10.11:  see this article http://apple.stackexchange.com/questions/212945/unable-to-set-dyld-fallback-library-path-in-shell-on-osx-10-11-1
Apple has apparently decided that you can't set any of the DYLD variables.

Any other ideas about how to make this work?  'conda uninstall mkl' broke a bunch of other things, so I had to reinstall it.

[2016-02-26 22:18] nouiz commented on #1871
A temp workaround is to do "blas.ldflags=". So mostly, we won't link
directly to it. But at least, it will work.

Hopefully, someone else can help more.

On Fri, Feb 26, 2016 at 5:14 PM, Mike Loukides <notifications@github.com>
wrote:

[2016-02-27 05:27] ypxie opened #4135 "Is it possible to integrate the good features claimed in cgt into Theano?"
"CGT replicates Theano’s API, but it has very short compilation time and supports multithreading."
http://joschu.github.io/index.html#Announcing%20CGT

[2016-02-27 11:26] tttwwy opened #4136 "how to make use of all the history outputs in scan?"
Each step I want to have access to all the previous return var h
For example,  I want to compute hi = (hi-1 + hi-2 + hi-3 + hi-4...h0)/(i-1),  is there any way to do it

[2016-02-27 11:57] attardi opened #4137 "error in mvcc_compiler.py"
A program that works fine on CPUs,  get this error when run on a NVIDIA GPU with SDK cuda-7.5:

Traceback (most recent call last):
  File "./conv_net_sentence.py", line 194, in <module>
    sqr_norm_lim=sqr_norm_lim)
  File "/home/attardi/experiments/Twitter/CNN_sentence/conv_net_classes.py", line 563, in train
    allow_input_downcast = True)
  File "/usr/local/lib/python2.7/dist-packages/theano/

[2016-02-27 12:02] attardi commented on #4137
Looks like there is an extra space in:
    -D NPY_NO_DEPRECATED_API=NPY_1_7_API_VERSION

[2016-02-27 12:06] attardi commented on #4137
The fix is to line 165 in nvcc_compiler.py:

        flags.append("-DNPY_NO_DEPRECATED_API=NPY_1_7_API_VERSION")

[2016-02-27 13:38] attardi commented on #4137
nvcc signals three errors, compiling mod.cu:

    141   err = cudnnConvolutionBackwardData(
    142     _handle,
    143     (void *)&alpha,
    144     APPLY_SPECIFIC(kerns), CudaNdarray_DEV_DATA(kerns),
    145     APPLY_SPECIFIC(output), CudaNdarray_DEV_DATA(output),
    146     desc,
    147     (void *)&beta,
    148     APPLY_SPECIFIC(input), CudaNdarray_DEV_DATA(*input));

    mod.cu(147):

[2016-02-27 14:02] attardi commented on #4137
Indeed /usr/local/cuda-7.5/include/cudnn.h defines:

    cudnnStatus_t CUDNNWINAPI cudnnConvolutionBackwardData(
                                cudnnHandle_t                       handle,
                                const void                         *alpha,
                                const cudnnFilterDescriptor_t       wDesc,
                                const void

[2016-02-27 14:24] attardi commented on #4137
Fixed by upgrading to the bleeding edge release:

    pip install --upgrade --no-deps git+git://github.com/Theano/Theano.git

[2016-02-27 14:24] #4137 closed

[2016-02-27 18:46] ascripter opened #4138 "tensor.mean casts to float64 instead config.floatX"
using theano 0.8.0.dev0

`from theano import config`
`config.floatX = "float32"`
`from theano import tensor as T`
`import numpy as np`
`x = np.array([[3,6,5], [1,2,3]], dtype=np.int8)`
`y = T.mean(x, axis=0)`
`print(y.dtype)`

`>>> float64`

tensor/basic.py line 3064 should probably be
`sum_dtype = theano.config.floatX`
instead of
`sum_dtype = None`

Or, if this affects the accuracy of the sum, ma

[2016-02-28 12:58] sindhra commented on #4136
what would be your input parameter in this case?

[2016-02-28 13:11] sindhra commented on #4124
Before taking grad scan it passes through error scanner right? and error scanner needs full forward output. I'm not sure if I understood it completely. It would be great if you can elaborate with an example.

PS: newbee alert :)

[2016-02-28 13:15] tttwwy commented on #4136
The input parameter can be a vector k.In each step,It can be ki, we can assume that i want to compute
hi = (hi-1 + hi-2 + hi-3 + hi-4...h0)/(i-1) + ki

[2016-02-28 18:51] f0k commented on #4091
Turns out it's not restricted to `-arch`. I've just spend quite some time trying to get Theano working with CUDA under Windows (to document it for Lasagne), and in the end had to add `--cl-version=2010 --use-local-env` to `nvcc.flags`. Those flags *also* end up being duplicated.

Investigating a bit, `NVCC_compiler.compile_args()` gets everything right, i.e., it returns the correct list of flags [

[2016-02-29 00:55] lucasb-eyer commented on #3762
Just adding for future reference that I had this error, and clearing the (very) old theano cache, i.e. `rm -rf ~/.theano`, indeed fixed this.

[2016-02-29 02:57] Sentient07 commented on #4131
And this, on ```theano/tensor/tests/*.py``` https://gist.github.com/Sentient07/1a75c41caa64b46521b8

[2016-02-29 07:56] sindhra commented on #4136
You will have to accumulate the previous updates and then divide it by current value of (i-1), where i is the step number and ki is the ith element from non_sequences field?

There is one slight problem, `i-1' will be `0` at `i=1`, then we'll be dividing some quantity by zero
second, what would be the initialised value of h0 in outputs_info?
Please correct me if i'm wrong here.

[2016-02-29 14:20] Imorton-zd commented on #3537
@mgermain @abergeron @dwf @nouiz @lamblin Could you spend your valuable time solving this question? Thanks a lot.

[2016-02-29 15:32] bouthilx opened #4139 "Add Gpu implementation to op to sample without replacement"
This is a follow up to #3930 (which, for the purposes of CCW, does not include providing a GPU implementation for this Op).

[2016-02-29 15:58] lamblin commented on #3537
The functionality of gradient wrt complex variables (the objective still has to be a scalar real, so minimization makes sense) is unfortunately not supported in Theano, and would require some amount of work (there is a proposal at http://deeplearning.net/software/theano/proposals/complex_gradient.html).
Unless you would want to tackle that, the easier option for now would be to express every opera

[2016-02-29 17:16] fvisin commented on #4054
@nouiz  @lamblin he is right. `theano-nose` passes but running `flake8` directly gives some errors, among which some I personally find quite annoying:
[code]

Did we disable them on purpose in `theano-nose`? If so, should we discuss this choice?

[2016-02-29 17:24] abergeron commented on #4054
With flake8 2.5.1 the only error I see is E402: module level import not at top of file.

Also the ignore list (besides the whitelist) is "E501,E123,E133" which is long lines and bracket indentation.

[2016-02-29 17:25] abergeron commented on #4054
Also, theano-nose passes because the files that have errors are on the whitelist.  The point of this ticket is to remove them from the whitelist and fix the errors.

[2016-02-29 17:35] fvisin commented on #4054
My bad, I was running `flake8 *`.
So @taesupkim please fix these errors:
[code]

[2016-02-29 17:46] lamblin commented on #836
Is it still needed for the new back-end?

[2016-02-29 18:31] fvisin opened #4141 "Documentation Refactor"
The scope of this ticket is to go through the documentation of theano and fix or report mistakes and not easily comprehensible parts of it.

[2016-02-29 18:31] abergeron commented on #836
@nouiz
I don't see how the code you propose would help anything because it can still skip asynchronous errors.  cuda-memcheck or CUDA_LAUNCH_BLOCKING are the only reliable ways to pinpoint where an error comes from.

@lamblin
The new backend will have the same problem with asynchronous errors and the same solution.  Also there isn't really a analogue to cudaGetLastError() for the new backend.

[2016-02-29 18:36] lamblin commented on #4085
Also, go through the examples of docstrings in the documentation (in `theano/doc/`, the RST files), and update them if they do not use NumPy format.

[2016-02-29 20:14] lamblin commented on #3598
Done in #4116.

[2016-02-29 20:14] #3598 closed

[2016-02-29 20:20] #2756 closed

[2016-02-29 20:42] abergeron commented on #3741
This is fixed by #4067

[2016-02-29 20:42] #3741 closed

[2016-02-29 21:57] lamblin commented on #4101
After investigation, that bug has been present since at least the 0.6 release, and we did not manage to pinpoint which Op in particular, or which other feature, could be responsible for it.
However, we were able to assess that:
- The leak is not present when using only the CPU
- The leak is not present when using the new GPU back-end (the one in `libgpuarray`)

Since we are trying to switch our ef

[2016-02-29 21:59] abergeron commented on #4101
Just to note that I did that (disabling optimizations) and it lead me to conclude that the problem is either in HostFromGpu, GpuFromHost or the base CudaNdarray code.  However, I don't know more than that.

[2016-02-29 22:24] Sandy4321 commented on #1418
pls make clear if I may use it
for example
for code above
import theano
profmode = theano.ProfileMode(optimizer='fast_run', linker=theano.gof.OpWiseCLinker())
x = theano.tensor.matrix('x')
y = theano.tensor.matrix('y')
z = x+y
xv = [[2, 2], [1, 1]]
yv = [[2, 2], [1, 1]]

f = theano.function([x, y], z)
f2 = theano.function([x, y], z, mode=profmode)
print f(xv, yv)
print profmode.print_summary()
pri

[2016-02-29 22:28] fvisin commented on #4085
@taesupkim you can probably use the email I sent you for the previous ticket as starting point for rewriting the documentation.

[2016-03-01 00:48] fvisin opened #4143 "Fix missing docstrings in sandbox/*.py"
Provide a description for all the functions/parameters in sandbox/\*.py (highlighted with *TODOs* in the code in #4133).

[2016-03-01 15:21] farizrahman4u opened #4146 "eval() not working with float32 shared variables"
[code]
The following code is not working:

[code]
It simply prints `<CudaNdarray object at 0x000000008AC2CBF0>`

But It works when I multiply the shared variable with 1 or add 0 to it:

[code]
Also works when dtype = float64

Any thoughts?

[2016-03-01 17:30] fvisin opened #4147 "Fix dev_start_guide"
The instructions to enable the spell check in vim are not working (the curl command doesn't work), refers to `vimrc` instead of `.vimrc`, and more generally the whole section could use a refactoring. I also suggest to use [Vundle](https://github.com/VundleVim/Vundle.vim) instead of Bundle to install vim packages as it's much more flexible, allows to easily install new plugins and update the instal

[2016-03-01 18:02] cooijmanstim opened #4149 "tensor.repeat with zero repeats causes floating-point exception"
This triggers a floating-point exception on both CPU and GPU:

[code]

[2016-03-01 18:29] juancamilog commented on #207
The following article should be of interest to anyone planning to address this issue: http://arxiv.org/pdf/1602.07527v1.pdf

[2016-03-01 18:37] Sandy4321 commented on #3497
is it possible to see code example pls

[2016-03-01 19:33] bfredl commented on #4014
I updated to latest theano master and I still see it. I get it when running on cpu with no `THEANO_FLAGS` on both python2/3.
However, when running with `THEANO_FLAGS="mode=FAST_COMPILE"` I actually do get the correct value. mode=stabilize doesn't seem to exist? at least not here: https://github.com/Theano/Theano/blob/master/doc/library/compile/mode.txt

[2016-03-01 20:31] #4131 closed

[2016-03-01 20:32] Sentient07 commented on #4131
Sorry, I had by mistakenly set ```device=gpu``` instead of ```init_gpu_device=gpu0```.

[2016-03-01 23:29] Sandy4321 opened #4155 "Theano debbuginh tutorial example is not working"
how get debugging output with wrong line number , as in
[code]
from
http://deeplearning.net/software/theano/tutorial/debug_faq.html#faq-monitormode
used code
[code]

[2016-03-01 23:46] Sandy4321 opened #4156 "not reproducable example for Using Test Values from Debugging Theano: FAQ and Troubleshooting"
as recommended  I added to mistaken code
[code]
but there is should be still mistake and tutorial show how to see mistaken line number per
http://deeplearning.net/software/theano/tutorial/debug_faq.html#faq-monitormode

[code]

[2016-03-01 23:59] Sandy4321 opened #4157 "from __future__ import print_function is not working"
from __future__ import print_function  is not working
for version
print theano.__version__
0.8.0.dev0.dev-b2362664ccd92adcddbac3ed0d8c456d2b519006

error massage
File "C:\Sander\my_code\Feb12_Theano_Tutorial\S_Theano_Debugging_from_Theano_Spec_March1.py", line 138, in ?
  from __future__ import print_function

from __future__ imports must occur at the beginning of the file: S_Theano_Debugging_from

[2016-03-02 01:13] dsy412610 opened #4158 "Questions about conv2d"
I used conv2d with subsample value (4,4). And now I find a problem is that the training time is even longer than only using CPU. But when I change this value into (1,1), the GPU works. Why? And is there any solutions to this problem?

[2016-03-02 02:51] dwf opened #4159 "setting broadcastable flags on output of MRG_RandomStreams methods"
Should these methods not take a 'broadcastable' argument?

[2016-03-02 04:27] zcyang opened #4160 "theano slow with big softmax"
I tried out the sequence to sequence example with theano and use output vocabulary size of 50000, it seems to be extremely slow, 3 - 4 times slower than tensorflow. But If I reduce the vocabulary size to 10000, they have similar speed, this is the profiling information:

[code]

I tried to write the softmax function myself, it improves a little bit, not much...

Are there any suggestions on how to

[2016-03-02 13:58] nouiz commented on #4109
As a work around, people can use lib.cnmem=0.7 of something similar. This will let memory to CUDA.

[2016-03-02 14:00] nouiz commented on #4147
I don't use vim, but if the doc is not working anymore am update would be
good. On which OS do you have the problem?
Le 1 mars 2016 12:33, "Francesco" <notifications@github.com> a écrit :

[2016-03-02 14:17] nouiz commented on #1418
Update Theano to the dev version of 0.8rc1. It should be fixed.
Le 29 févr. 2016 17:24, "Sandy4321" <notifications@github.com> a écrit :

[2016-03-02 14:17] nouiz commented on #4101
You can also use the new GPU back end that don't have this problem.
Le 29 févr. 2016 16:59, "abergeron" <notifications@github.com> a écrit :

[2016-03-02 15:19] ppalasek commented on #3898
Hello,

just a comment related to the issue above. I updated Theano to the latest version today and it wasn't able to detect CuDNN.

See:
[code]

cudnn not begin available was weird, so I spent some time trying to figure out if my environment variables were set incorrectly. I found this thread and went to see whether my cudnn version is too old:
[code]

The error message "We can't determine the cu

[2016-03-02 15:38] nouiz commented on #4131
I don't know why you get this and we don't, but here is a PR that some some of the warning:

https://github.com/Theano/Theano/pull/4161

what is the value of Theano flag device? Normally, tests  should not run with device=gpu, but with device=cpu.

[2016-03-02 15:47] #3930 closed

[2016-03-02 16:03] nouiz commented on #4160
Can you also give the profile with size 50k? This would allow to see where
the bottleneck is.

Also, there is a few ops on the CPU that we work to move automatically to
the GPU, but you could do it manually for now. My guess is that this is the
bottleck no bigger size. See this issue:
https://github.com/Theano/Theano/issues/3166

Mostly, on the GPU, we only support a subset of advanced sutensor. T

[2016-03-02 16:05] apulver commented on #4101
Thanks for looking into it. How would one use the new backend?

In the meantime, I've found that using the CPU with a recent openblas version is just as fast, at least for a batch size of 1.

[2016-03-02 16:06] nouiz commented on #4159
We should allow this. I'm not sure of the interface. In the mean mean, you
can use add theano.tensor.addbroadcast()

On Tue, Mar 1, 2016 at 9:51 PM, David Warde-Farley <notifications@github.com

[2016-03-02 16:07] Sandy4321 commented on #4157
ok,
when I moved to very beginning of file, even before import theano , it start to work

from __future__ import print_function
import theano

[2016-03-02 16:08] nouiz commented on #4131
It seem I didn't see all the comments before replying. This can make tests fail, but it should not make optimization crash. I fixed them.

[2016-03-02 16:12] zcyang commented on #4160
The above is the profile with size 50k. Here are the most time consuming part

[code]
You mean I using one dimensional indexing to replace two dimensional indexing will help decrease the time
[code]
How about
[code]
I only return a single number from the function, the cost, why is this so time consuming.

[2016-03-02 16:13] nouiz commented on #3497
This isn't trivial. Are you good at C code and ready to read much code to
understand it? There isn't a good guideline for this issue. Here is a high
level one:

- Use the new GPU back-end and implement it there.
- Extend the op Gemm16 in the file theano/sandbox/gpuarray/nerv.py to
support float32 gemm from nervana. This will ask you to understand how
nervana code can be called.

On Tue, Mar 1, 201

[2016-03-02 17:32] abergeron opened #4162 "Replace some subtensors with DimShuffle"
Subtensors like `a[:, :, None, :]` could be done with `a.dimsuffle(0, 1, 'x', 2)` which is faster and better optimized.

See https://github.com/abergeron/Theano/commit/4c41ccddca298b3d5b859906347f82282987372d for an example.

[2016-03-02 17:41] nouiz commented on #4091
Thanks for the report. Fixed in https://github.com/Theano/Theano/pull/4161. We where using nvcc.flags elsewhere then in compile_args and at the place it was also adding parameter from compile_args.

[2016-03-02 17:47] nouiz commented on #4160
Doing the one dim indexing will help lower the line you have shown and the
HostFromGPU.

On Wed, Mar 2, 2016 at 11:12 AM, Zichao Yang <notifications@github.com>
wrote:

[2016-03-02 17:48] fvisin commented on #4147
The current instructions are linux only (`curl` is not installed by default on windows) and fail to install Syntastic at the lab. If vim users don't have anything to say on the Vundle vs Bundle proposal, I will assign this as CCW ticket to someone in the next weeks and rewrite the whole section.

[2016-03-02 17:51] zcyang commented on #4160
Many thanks! The speed is now twice faster.

[code]

Is there anywhere else I can optimize?

[2016-03-02 17:58] nouiz commented on #4160
Scan got some optimization this week. As you are using it, maybe an update
of Theano will help.

On Wed, Mar 2, 2016 at 12:51 PM, Zichao Yang <notifications@github.com>
wrote:

[2016-03-02 18:15] f0k commented on #4091
Ah, you beat me to it. I just finally got around bisecting this to see that 4507dd1 is the culprit.

[2016-03-02 18:34] apulver opened #4163 "parallel map"
It would be useful to have a gpu and/or cpu parallel map op. For instance, batch training with RNNs could be accomplished by a map inside the scan. Without map, this may be easy or very difficult, depending on what the graph is like.

[2016-03-02 20:57] Sandy4321 opened #4164 "Conditional breakpoint tutorial example is not working"
# Conditional breakpoint
http://deeplearning.net/software/theano/tutorial/debug_faq.html#faq-monitormode
import theano
import theano.tensor as T
from theano.tests.breakpoint import PdbBreakpoint

input = T.fvector()
target = T.fvector()

# Mean squared error between input and target
mse = (input - target) ** 2

# Conditional breakpoint to be activated if the total MSE is higher
# than 100. The bre

[2016-03-02 21:38] #3978 closed

[2016-03-02 21:42] lamblin commented on #4138
It is correct that the sum uses 'int64' (like it currently does) for its accumulator and return value, as using `floatX` could really decrease the accuracy.
However, it may be better to cast the final result to floatX before the division, or maybe after, I'm not sure.

[2016-03-02 21:47] lamblin commented on #4136
Please use `theano-users` or StackOverflow for discussing such topics, we try to use the tickets for bugs or missing features only.
For your question, you can pass the whole `h` as a recurrent state, and `i` as a sequence, and from inside the step function, you can access `h[:i]` and return `set_subtensor(h[i], ...)`. It may be memory-inefficient.

[2016-03-02 21:47] #4136 closed

[2016-03-02 22:12] lamblin commented on #4146
It works in that it returns you a Python handle to the object in `x`, which is on the GPU. If you want to check what is in there, you can use `print(np.array(shared_val.eval()))`.
Also, if you update to the latest version from GitHub, the representation of CudaNdarrays have been updated, and the content is now printed:
[code]

[2016-03-02 22:12] #4146 closed

[2016-03-02 23:12] lamblin commented on #4164
Are you by chance using python 3? This would explain a syntax error when using `print` as a keyword instead of a function. The examples were written with python 2.

[2016-03-02 23:13] #4157 closed

[2016-03-02 23:16] lamblin commented on #4155
I don't understand this issue.
What is the result you were expecting?
What is the result you are seeing instead?

[2016-03-02 23:19] lamblin commented on #4158
Can you try again with the latest version from GitHub (or 0.8.0rc1), making sure you are using `theano.tensor.nnet.conv2d`, not `theano.tensor.nnet.conv2d.conv2d`?

[2016-03-02 23:24] lamblin commented on #4162
This should be done around [here](https://github.com/Theano/Theano/blob/149d008d528277988867089cb607105e706910c4/theano/tensor/var.py#L506) when calling `__getitem__` in the first place.
For some reason, the existing code may not avoid all subtensors.

[2016-03-02 23:26] lamblin commented on #4162
So, apparently, it keeps a useless subtensor with all ":":
[code]

[2016-03-02 23:51] nmclay commented on #3052
I've been getting this error as well.  I'm running python 3.5.1 in a virtual environment, Numpy version 1.10.4.  I created a new virtual environment with just python, numpy, scipy and theano.  When I run theano.test() in this environment I get the same error shown in the output.

[2016-03-03 01:36] abergeron commented on #4162
Then we should probably fix the `__getitem__` code to not do that.  It should also handle the case when we index with a 0 on a broadcastable dimension.

[2016-03-03 03:24] dsy412610 commented on #4158
Thank you. But I used Keras which depends on Theano. It uses conv2d as following: theano.tensor.nnet.conv.conv2d. Is anything wrong with that？

[2016-03-03 08:09] zeka0 opened #4165 "Qs about tensor shape"
I wrote this:
x = theano.shared( numpy.zeros( (28, 28) ) )
then I tried to obtain the shape information of x:
print theano.tensor.shape(x)
But instead giving me the result "(28, 28)"
It gives me a tensor: " Shape.0 "
I don't quite understand...
I.e if you set a shared tensor to be shape of (28, 28), then I hope the operation "x.set_value(np.zeros(  ( 54, 54 ) ) )" will be illegal.
Is there any way

[2016-03-03 16:29] lcauchon opened #4166 "Can't do "import theano" using Linux / theano 0.8rc1"
Hi,
I got this error when I try to import theano in a linux environment.
This is also true for 0.7 but not 0.6.

Thanks,

Python 3.5.1 |Anaconda 2.5.0 (64-bit)| (default, Dec  7 2015, 11:16:01)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/gpfs

[2016-03-03 17:31] JesseLivezey commented on #4165
You'll should ask questions like this on the theano google group as this isn't an "issue" with theano
https://groups.google.com/forum/#!forum/theano-users

x.shape will return the symbolic shape for the shared variable x, not the shape of the array in memory. If you want that, you can do x.get_value().shape

Theano is generally flexible with the exact shape of a variable, but not the number of dim

[2016-03-03 17:31] Sentient07 commented on #4162
@abergeron , I'd like to take this up if no one is currently working on this. :)

[2016-03-03 17:33] Sentient07 commented on #3923
@nouiz I guess this should be added at the end of http://deeplearning.net/tutorial/mlp.html#multilayer-perceptron this section. but i'm not able to locate where this file is. Could you please guide me on where to add this ?
cc : @lamblin

[2016-03-03 18:33] Sentient07 commented on #1916
@nouiz , could i take this if no one is working on this currently ?

[2016-03-03 19:50] lamblin commented on #4162
I agree we should fix `__getitem__` to not insert the useless subtensor.
For indexing with 0 on a broadcastable dimension, I would rather use an optimization for that, if only because the variables could be replaced by a `clone` or using `givens`.

[2016-03-03 19:55] lamblin commented on #3923
The deep learning tutorials are in a separate repo, https://github.com/lisa-lab/DeepLearningTutorials
Rather than changing the `mlp` example, I think it would be better to add a new page and script about dropout.
The code would go into a `.py` file in https://github.com/lisa-lab/DeepLearningTutorials/tree/master/code, and the text (as RST) in a `.txt` file in https://github.com/lisa-lab/DeepLearni

[2016-03-03 20:26] abergeron commented on #3887
This bug does not appear to depend on the order of optimizations, but the order of execution.

Basically the code gives a nan with the defaut (cvm) linker, but works with `THEANO_FLAGS=linker='py'`.  To be sure that it was the same graph, I did a debugprint of the compiled function both times, and there is no difference.

So the problem probably lies in something cvm does (or doesn't do).

This is

[2016-03-03 20:58] abergeron commented on #3887
I also discovered that cvm with allow_gc = False does not produce nans.  However it also does not produce the correct answer.

[2016-03-03 21:53] nishkgp commented on #3739
sudo easy_install --upgrade six . works

[2016-03-03 22:00] avostryakov commented on #3827
@nouiz I'm interesting to implement it in theano.

Is theano.sandbox.cuda.dnn right place to implement it? I'll follow GpuDnnSoftmax(GpuDnnSoftmaxBase) and GpuDnnSoftmaxGrad(GpuDnnSoftmaxBase) implementations as an example.

[2016-03-03 22:54] JesseLivezey commented on #4158
If you swap that to ```theano.tensor.nnet.conv2d``` it should work. ```theano.tensor.nnet.conv.conv2d``` is [deprecated](https://github.com/Theano/Theano/blob/99de36c86441e7db7cffe3defaba4749dc2bc1a7/theano/tensor/nnet/conv.py#L43).

[2016-03-03 23:27] abergeron commented on #3887
I retract what I said, after more careful examination, allow_gc=False does produce the right answer (or at least the same as with linker='py').

[2016-03-03 23:35] #4165 closed

[2016-03-03 23:42] lamblin commented on #4166
Please ask that question on StackOverflow or [theano-users](https://groups.google.com/forum/#!forum/theano-users), and provide the content of your THEANORC environment variable and `.theanorc` file if they exist.
My guess is that you used `lib.cnmem=True` instead of providing a number (size in MB or % of GPU memory) like the documentation indicates.

[2016-03-03 23:42] #4166 closed

[2016-03-04 00:30] lamblin commented on #3887
A couple of ideas:
- So does that happen with VM / Stack?
- Does the mode of the function matter, or the one of the inner function of Scan?
There is an `ifelse` in the inner graph of scan, so I would think that setting the mode of scan should work.
- How about changing the AllocEmpty to Alloc for the scan buffer?

[2016-03-04 00:39] talentlei opened #4167 "ImportError: cannot import name pool"
when I update Theano , I got this error as follow.  Who Can help me?  thanks a lot.

Using Theano backend.

Traceback (most recent call last):
  File "lstm_loc.py", line 4, in <module>
    from keras.models import Sequential
  File "/usr/local/lib/python2.7/dist-packages/keras/models.py", line 15, in <module>
    from . import backend as K
  File "/usr/local/lib/python2.7/dist-packages/keras/backe

[2016-03-04 00:53] abergeron commented on #3887
I figured it out.  It's because CGemv doesn't properly handle nans in y (or its output buffer) in some cases.  We do check for the blas that we link to, but we have some custom code for when A.shape = (1, x) or (x, 1) and those cases just do beta*y without any checks.

This, combined with the AllocEmpty changes for Scan made for some hard to find nans that can go away with the slightest changes.

[2016-03-04 01:40] dsy412610 commented on #4158
Thank you so much！ I have solved the problem.

[2016-03-04 05:39] chengzhanzhan opened #4170 "Got a 'import theano error' after update 0.7 to 0.8"
When I updated the theano from 0.7 version to 0.8, I got a import error:

Python 2.7.6 (default, Jun 22 2015, 17:58:13)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/theano/__init__.py", line 42, in <module>
    from theano.configde

[2016-03-04 08:04] zihaolucky opened #4171 "import theano failed"
I've searched a lot and didn't find a solution. The gensim/theano is useable after I installed them months ago, but suddenly it doesn't work.

When I import theano, got error info:

[code]

[2016-03-04 14:56] cranmer commented on #1871
having this problem too. Why is the issue closed?

[2016-03-04 15:03] cranmer commented on #1871
@nouiz can you be a bit more explicit. Where does one set `blas.ldflags=` ?

[2016-03-04 16:02] lamblin commented on #1871
It is closed because it is a bug or something we can fix in Theano.
@cranmer Can you check what the value of `theano.config.blas.ldflags` is from inside the notebook?
Also, clearing your theano cache may help making the workaround work.

[2016-03-04 18:40] jpiabrantes opened #4173 "Saving and Loading theano variables"
I am using a theano variable to define a function. Then I save the variable. When I load the variable theano does not recognize it as being the same variable used before.

This code:
[code]

Generates the error:
[code]

I also tried to Save/Load using cPickle with the same results.

[2016-03-04 21:36] lamblin commented on #4167
The file exists in 0.8.0rc1 (https://github.com/Theano/Theano/blob/rel-0.8.0rc1/theano/tensor/signal/pool.py), so this does not look like a bug in Theano, and I will close the ticket.

What do you mean by "upgrade" Theano? Which version of Theano are you using? You should use 0.8.0rc1 or the latest development version from GitHub.
Is it possible that you have more than one version of Theano instal

[2016-03-04 21:36] #4167 closed

[2016-03-04 21:49] fvisin commented on #4056
#4133 closed this issue.

[2016-03-04 21:49] #4056 closed

[2016-03-04 22:08] lamblin commented on #4173
Pickled objects cannot keep pointers to objects still in memory, that cannot work when they can be saved and loaded in different processes, on different machines. pickling and unpickling is equivalent to a deep copy.

You can always pickle both x and y, then when you load the variables, the new x will be the input to the new y.

[2016-03-04 22:08] #4173 closed

[2016-03-04 22:18] jpiabrantes commented on #4173
Pickling x and y it's also not working (actually it is what I am doing on my real script). The following code gives the same error as before:

[code]

[2016-03-04 22:43] #4054 closed

[2016-03-04 22:57] lamblin commented on #4173
If you call `dump` twice, even on the same file, a new deep copy will be done twice, so that does not really help. If you dump a data structure (a pair or a list for instance) containing both `x` and `y` at the same time, it should work.

[code]
This is not related to Theano, btw, you can try it with lists of lists in Python, for instance
[code]

[2016-03-05 02:24] chengzhanzhan commented on #4170
I reinstall the theano0.7, then upgrade numpy to 1.9.2; then the it's ok

[2016-03-05 06:58] JesseLivezey opened #4174 "deeplearning.net LeNet uses old conv2d"
The [deeplearning.net LeNet tutorial](http://deeplearning.net/tutorial/lenet.html#the-convolution-operator) uses the ```theano.tensor.nnet.conv.conv2d``` op and also references ```theano.tensor.signal.conv2d``` in the description which is a bit confusing.

[2016-03-05 12:26] jpiabrantes commented on #4173
Thank you @lamblin  that solved my problem.

[2016-03-05 14:04] aam-at commented on #4087
I can confirm that the above approach really speeds computation. But it won't work for something like googlenet, since it requires passing a batch of 1000 which can't possibly fit in memory.

Something like a `scan` with chunking does the job - https://gist.github.com/aam-at/2b2bc5c35850b553d4ec. Optimally, I think there are should be `map` operation which can do parallel processing on GPU with lo

[2016-03-06 05:30] #4160 closed

[2016-03-06 05:33] zcyang opened #4175 "scan in multilayer rnn"
There are two ways to use scan to implement multi layer rnn,  one is to use only one scan and define a for loop in the recurrent function, another is to use one scan function for each layer.

I tried four layer and it seems the second method is 25% slower, here is the profiling information for the second method:

[code]

Scan takes most of the time, is there any way to optimize it? Many thanks!

[2016-03-06 18:31] AnishShah commented on #3573
This can be closed now?

[2016-03-06 21:30] Sentient07 commented on #3923
@lamblin yeah, will fork that repo and send a PR there. Also, i had a look at the other files in that directory( for how documentations should look). I will try to write a good one.
Thanks

[2016-03-07 02:37] chengzhanzhan commented on #4175
I have the similar problem to you. And the dev theano version make some optimization on scan.

You can attempt to:
1, update theano to the dev version;
2, set cnmem flag and allow_gc flag
3, move some computation operation out of the step function as far as you can

I guess that above operation will give you slightly a speedup. May be it'll help you.

[2016-03-07 08:02] eralmansouri commented on #4175
The for loop is not called each time step. It is only called once to build a graph and that's it. Your two implementations might not be giving you the same results.

[2016-03-07 09:54] usertomlin commented on #2787
I also had encountered problems about "CUDA is installed, but device gpu is not available", and finally solved them and successfully installed Theano on two different notebooks on Windows 7. Three main points about how I made it work:

1. Install the "rel-0.7" version of Theano (from https://github.com/Theano/Theano/releases/tag/rel-0.7)  instead of the last version of it from https://github.com/T

[2016-03-07 09:57] AnishShah commented on #1916
@Sentient07 Are you working on this? Because I would like to work on this.
I will try to work on `argwhere`.

[2016-03-07 10:04] Sentient07 commented on #1916
@AnishShah I need confirmation from @nouiz regarding what is to be done and who is working on it. He will assign when he is back.

[2016-03-07 10:07] AnishShah commented on #1916
No problem :+1:

[2016-03-07 14:10] nouiz commented on #4174
We need them to work with the last release. We just did an rc1. So the 0.8 release should be too far. Just after it, we can change this. I tagged this issue for the 0.8 milestone so that we don't forget it.

[2016-03-07 15:15] nouiz commented on #4170
The problem is the Theano flags lib.cnmem. You give him a value of True. This isn't allowed. It must be a float. Try the value 1.

It work with Theano 0.7, as we just don't have that flag, so it end-up being ignored.

Can you update Theano to 0.8rc1 again and change the flag to make sure it work?

thanks

[2016-03-07 15:19] lamblin opened #4178 "Keep stack trace: finish local opt in theano/tensor/opt.py"

[2016-03-07 15:22] lamblin opened #4179 "Keep stack trace: global optimizers in tensor/opt.py"
Sub-ticket of #3018.

[2016-03-07 15:24] lamblin opened #4180 "Keep stack trace: scan_module/"
Sub-ticket of #3018.

[2016-03-07 15:40] bozothegrey commented on #3815
Hello, are you sure is not just an issue of adding something like C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\bin to your PATH ?

[2016-03-07 16:38] abergeron commented on #4059
I just realized, but this is Chibeb's ticket.  Why do you have someone working on this?

[2016-03-07 16:41] Sentient07 commented on #4162
@lamblin I'd like to take this issue. Shall I go ahead ?

[2016-03-07 16:42] fvisin commented on #4059
@abergeron if you are asking me, I only commented on the things to do (I pasted the same text on all the flake8 tickets) but I have no one working on it. We should probably specify when someone is working on a ticket to prevent external people from working on it.

[2016-03-07 16:43] AnishShah commented on #4059
There was no interaction on this ticket. So I thought no one is working on this. And since, this is an easy issue. I made the changes and created a PR. If anyone was already working, then I'm extremely sorry. I will close my PR.

[2016-03-07 17:28] nouiz commented on #3573
yes. thanks.

[2016-03-07 17:28] #3573 closed

[2016-03-07 17:44] acganesh opened #4182 "Typo in docs - dnn.enabled flag"
It looks like there's a minor typo in the documentation entry for the [`dnn.enabled`](http://deeplearning.net/software/theano/library/config.html#config.dnn.enabled) flag -- `dnn.enabled` should be `config.dnn.enabled`, mirroring the rest of the config entries.

I'm happy to submit a quick PR if helpful.

[2016-03-07 17:50] acganesh opened #4183 "Typo in docs - lib.cnmem flag"
There's a small error in the documentation for the [`lib.cnmem`](http://deeplearning.net/software/theano/library/config.html#config.config.lib.cnmem) flag.  It seems like it should say:

instead of ">0" as it currently does.  Let me know if I can submit a PR.

[2016-03-07 18:20] abergeron commented on #4059
No it's ok, it not already fixed yet, so we'll just take one of the two PRs

[2016-03-07 18:24] nouiz opened #4184 "flake8 sandbox/cuda/*.py"

[2016-03-07 18:26] abergeron commented on #4059
Also for the future, issues that are tagged CCW will usually be assigned to someone by us.  If you want to work on one, it's not a problem, but it can help to ask if the issue is assigned to avoid duplicating work.

[2016-03-07 18:28] nouiz opened #4185 "flake8 misc/tests/*.py"

[2016-03-07 18:41] #4170 closed

[2016-03-07 19:08] nouiz commented on #4183
A PR would be great.

[2016-03-07 19:09] nouiz commented on #4183
a second, > 0 but <=1 is a % of the GPU memory. > 1 is a fixed number of memory. So what do you think happen between 0 and 1? Maybe we can make it more clear in the doc.

[2016-03-07 19:10] nouiz commented on #4182
A PR would be good.

On Mon, Mar 7, 2016 at 12:44 PM, Adithya Ganesh <notifications@github.com>
wrote:

[2016-03-07 19:34] lamblin commented on #4183
Thanks for the report.
Indeed, a PR would be welcome :)

[2016-03-07 19:35] lamblin commented on #4183
Also, you could add that users should *not* pass `True`.

[2016-03-07 19:41] lamblin opened #4187 "Fix MKL install on Travis"
Also adds a check that we actually link with a BLAS, so that the build fails when we don't manage to link with it.
See #4176.

[2016-03-07 21:03] nouiz opened #4188 "get_scalar_constant_value() should always return the same type"
Currently, it return sometimes a 0d ndarray, other time numpy scalar.

It isn't clear what it should return. I don't have a strong preference.

I don't think that returning python scalar is good. There is probably corner case about this...

[2016-03-07 22:02] nouiz commented on #3052
Use Theano 0.8rc1 or the development version:

http://www.deeplearning.net/software/theano/install.html#bleeding-edge-install-instructions

On Wed, Mar 2, 2016 at 6:51 PM, Nigel Clay <notifications@github.com> wrote:

[2016-03-07 22:48] #4187 closed

[2016-03-07 23:21] abergeron commented on #1871
The current release candidate (0.8.0rc1) should help in that respect.  It won't link to mkl since it's not really possible without a lot of hacks, but it shouldn't crash either.

It should link with the default blas which is Accelerate on OS X.

[2016-03-07 23:44] acganesh commented on #4182
Submitted PR here: #4191.  Thanks!

[2016-03-08 00:03] acganesh commented on #4183
Great!  I fixed the typo and clarified a few things in my PR here: #4192.  Let me know what you think.

Before this is merged into the 0.8 release, it could make sense to separate the behaviors into two options.  This might improve clarity a little bit.  For example:

1. `config.lib.cnmem.start_frac` - A value between 0 and 1, representing the fraction of GPU memory to be used in the starting memo

[2016-03-08 14:13] #3887 closed

[2016-03-08 14:14] nouiz commented on #3887
We just merged a fix. Can you update Theano and confirm that this fix your problem?

[2016-03-08 16:34] #4182 closed

[2016-03-08 18:45] nouiz opened #4193 "Doc in the tutorial a_function.copy()"
http://deeplearning.net/software/theano/library/compile/function.html?highlight=copy#theano.compile.function_module.Function.copy

* This allow lowering the peak memory when using allow_gc=False as the storage_map can be shared between copies.
* This allow changing the copied function by swapping shared variable (test fn vs valid fn).
* This allow deleting the updates. So can take the train and ge

[2016-03-08 20:11] nouiz opened #4194 "All release: test under windows."

[2016-03-08 20:51] #3512 closed

[2016-03-08 22:20] lamblin commented on #4183
Having two different flags exclusive of each other would not be easy, so I would keep the current behaviour.
Ideally, I think it would be better if we had the option of parsing things like "2GB", "150MB", "97%", "0.70", and still fall back to something sensible (no one will ask for less than 1MB or more than 100%).

[2016-03-08 22:20] lamblin commented on #4183
Closed by #4192.

[2016-03-08 22:20] #4183 closed

[2016-03-08 22:57] acganesh commented on #4183
Makes sense -- I think the smart parsing behavior is a good approach.  If it's helpful, I'm happy to work on implementing that.

[2016-03-08 23:09] lamblin opened #4196 "Bump tolerance of `test_gc_never_pickles_temporaries`"
I've seen it fail 3 times in 2 days, and each time a restart of the test "fixed" it.
We should bump the tolerance a little.

[2016-03-08 23:57] Sylvus opened #4197 "Gradient method (float32 to float64)"
Hi,
when I try to run my network on the GPU I need to specify floatX=float32. Unfortunately this breaks my program with the following error:

For me this seems like an issue where Theano is expecting a float64 but I am passing a float32. Is this correct? And if this is intended, how do I need to adapt my program?

Thank you very much!

Some additional information: I compute the cost myself so I co

[2016-03-09 00:55] #129 closed

[2016-03-09 01:41] Sylvus commented on #4197
I found my problem, at some point in my code I was giving Lasagne a dtensor which, correctly gave me 64 bit floats. Sorry for the issue.

[2016-03-09 01:41] #4197 closed

[2016-03-09 01:45] nouiz commented on #4175
Using few scan node in the graph help lower scan overhead. If they both give the same answer, you the one you prefer, probably the fastest one!

Also, use the strict=True scan parameter. If can speed up scan.

[2016-03-09 01:48] nouiz commented on #4171
This problem is a duplicate of gh-4002.  A workaround until we fix it autoatically is there, so I'll close this issue. If it don't work for you, tell us.

[2016-03-09 01:48] #4171 closed

[2016-03-09 01:49] #4158 closed

[2016-03-09 01:51] nouiz commented on #4155
As no reply and I think the master work well with this example, I'll close this issue. But if you still need help, you can reply.

[2016-03-09 01:52] nouiz commented on #4164
As no reply, I'll close as the answer see good.

[2016-03-09 01:52] #4164 closed

[2016-03-09 01:53] nouiz commented on #4120
issue gh-4122 is about making a tutorial for this. So I'm closing this issue.

[2016-03-09 01:53] #4120 closed

[2016-03-09 02:24] nouiz commented on #991
get_constant_value is now renamed get_scalar_constant_value. I updated the Title to reflect this.

[2016-03-09 12:18] mjwillson opened #4199 "Impossible to compile a COp with more outputs than inputs"
This looks like it's due to a typo here:

https://github.com/Theano/Theano/blob/master/theano/gof/op.py#L1426

(should be `range(len(node.outputs))` not `range(len(node.inputs))`)

I ran into it when trying to implement a Gpu-based MaxAndArgmax op:

`('The following error happened while compiling the node', GpuMaxAndArgmaxPerRow(GpuContiguous.0), '\n', 'list index out of range')`

[2016-03-09 12:41] mjwillson commented on #4199
Furthermore I didn't find any tests at all for COp (although it's indirectly covered via GpuDnnConv) -- I can make a PR for the one-line fix if you want, but not sure I want to take on the task of testing it from scratch, maybe the author has a preference on how it should be tested.

[2016-03-09 13:38] Sandy4321 commented on #4155
pls not close I am preperaring answer

On Tue, Mar 8, 2016 at 8:51 PM, Frédéric Bastien <notifications@github.com>
wrote:

[2016-03-09 15:01] nouiz commented on #3217
I reported this to NVIDIA.

[2016-03-09 15:29] nouiz opened #4201 "Global optimization to move gpu graph to the GPU."
Our current mechanism to move a graph to the GPU make too much validation and extra work. In one cases, I saw it take 30% of the optimization time.

We can make for the new GPU back-end a global optimizer that will do one full pass on the graph to move it to the GPU. Then let the current code finish the move (for the back-ward pass in case of op in the middle of the graph isn't implemented on the

[2016-03-09 15:30] #4091 closed

[2016-03-09 15:36] nouiz commented on #3321
As your problem is fixed and we have issue gh-3029 that is to make a flag to easily allow this, I'll close this issue.

[2016-03-09 15:36] #3321 closed

[2016-03-09 15:59] nouiz commented on #4199
Good catch. A PR with the fix is welcome. I don't think testing COp
directly is possible. At least, I don't know how and the indirect test are
pretty good I think. So I wouldn't spend time on that.

On Wed, Mar 9, 2016 at 7:41 AM, Matthew <notifications@github.com> wrote:

[2016-03-09 16:01] nouiz commented on #4199
I just saw that this is already done. Thanks.

[2016-03-09 16:02] theaverageguy commented on #4199
@nouiz I would like to express my interest in Theano for GSoC 2016 with this PR. I am hunting for more bugs to fix before I introduce myself. :)

[2016-03-09 16:06] theaverageguy commented on #4196
What does bump tolerance mean?

[2016-03-09 16:09] theaverageguy commented on #4185
This one can be closed @nouiz

[2016-03-09 16:09] nouiz commented on #4199
I would recommand that you introduce yourself now on theano-dev and that
you read https://github.com/Theano/Theano/wiki/GSoC2016

On Wed, Mar 9, 2016 at 11:02 AM, theaverageguy <notifications@github.com>
wrote:

[2016-03-09 16:11] nouiz commented on #4196
Check the test. It compare string length with a tolerance. In the ideal case the length would be exact, but they aren't due to technical details. You can probably run 100x the test and see the failure. Do you know how to run only one tests in Theano?

nosetests a_test_file.py:test_name.

[2016-03-09 16:21] theaverageguy commented on #4174
Does it need a fix @nouiz ?

[2016-03-09 16:30] nouiz commented on #4174
Only after we make the Theano 0.8 release.

On Wed, Mar 9, 2016 at 11:21 AM, theaverageguy <notifications@github.com>
wrote:

[2016-03-09 17:06] theaverageguy commented on #4184
I am fixing this with autoflake @nouiz . Would that be ok?

[2016-03-09 17:11] nouiz commented on #2966
I think this is solved.

[2016-03-09 17:11] #2966 closed

[2016-03-09 17:47] mjwillson commented on #4199
Nice one, thanks!

[2016-03-09 18:51] abergeron commented on #4174
The code is already switched to the code to use the new interface (since it is backward compatible).

So we don't need to wait until after the release.

[2016-03-09 19:39] #4199 closed

[2016-03-09 20:08] sygi commented on #4196
Hello,
I took a look at the test, but despite 500+ reruns (both cpu and gpu) couldn't reproduce the issue.
(Can I just change https://github.com/Theano/Theano/blob/master/theano/tensor/tests/test_gc.py#L95 128 -> 256, or will that be too big?)

[2016-03-09 20:31] nouiz commented on #4196
ok.

On Wed, Mar 9, 2016 at 3:08 PM, Jakub Sygnowski <notifications@github.com>
wrote:

[2016-03-09 21:45] #4185 closed

[2016-03-09 22:45] Sandy4321 opened #4204 "lstm example from tutorial is not working"
from this link
http://deeplearning.net/tutorial/lstm.html

In order to use your own data, please use a (preprocessing script) provided as a part of this tutorial

which gives link to file
https://raw.githubusercontent.com/kyunghyuncho/DeepLearningTutorials/master/code/imdb_preprocess.py
Theano advertised as working for windows but this tutorial is not working for windows
with original line
origina

[2016-03-10 00:09] lamblin commented on #4204
This is not an issue with Theano, but with that specific tutorial.
You can open an issue in the DeepLearningTutorials repository, indeed the syntax for running the perl script will be different on Windows, if it even works. If it does not work, then we could add a disclaimer that this specific example will not run as is on Windows.

[2016-03-10 00:09] #4204 closed

[2016-03-10 04:21] fvisin commented on #4147
This will be fixed in #4189.

[2016-03-10 04:23] fvisin commented on #4075
I don't think you have access to our internal website, so you probably cannot fix this one.

[2016-03-10 13:47] #3889 closed

[2016-03-10 15:03] Sandy4321 commented on #4194
yes it would be great, especially tutorial pls

[2016-03-10 15:13] #4196 closed

[2016-03-10 15:39] nouiz commented on #4194
We will only run Theano tests. We won't have time to run other tests. If
peoples want to help, that would be great.

On Thu, Mar 10, 2016 at 10:03 AM, Sandy4321 <notifications@github.com>
wrote:

[2016-03-10 16:30] nouiz commented on #4174
@abergeron told me that we need to change a parameter name as it changed in
the new version after the release. We should also check the doc, it
probably tell about the old parameter name and the old conv2d path.

On Wed, Mar 9, 2016 at 1:51 PM, abergeron <notifications@github.com> wrote:

[2016-03-10 16:30] nouiz commented on #4184
Don't take the flake8 issue. Other people are working on them.

[2016-03-10 16:59] galinngeorgiev commented on #3813
D., ran some time ago across the need for 3-dim tensors, which are lower triangular in the last 2 dimensions. Ended up using an element-wise multiplications with an explicit basis for the lower-triangular 'f' Cartan sub-algebra of sl(n) like {T.eye(n,n,m), for m <0}: https://en.wikipedia.org/wiki/Special_linear_Lie_algebra.
Can be done explicitly for small n or small m, otherwise, one needs scan.

[2016-03-10 17:53] nouiz commented on #3813
I checked the code and triu and tril call tri. As tri only implement 2d tensor and triu and tril don't make correction for that, then it fail. The fix fould be to modify the method triu and tril in theano/tensor/basic.py and if the inputs tensor have more then 2 dimesions, that is use repeat on it to make the broadcasting to the right shape.

I don't have time for this, but it isn't very complicat

[2016-03-10 18:14] nouiz commented on #4123
I get this error:

ImportError: No module named reverse_words.edit_distance

Where I can get this?

[2016-03-10 18:35] rizar commented on #4123
Actually, it has been a while since I saw this error message last time. Maybe it was somehow fixed. I will close the issue until I see it again.

[2016-03-10 18:35] #4123 closed

[2016-03-10 20:40] #3927 closed

[2016-03-10 20:52] gyom commented on #3029
Created a pull request to resolve this issue.

https://github.com/Theano/Theano/pull/4209

[2016-03-11 01:56] sunshineatnoon commented on #4119
@nouiz Thanks for helping, I found the problem, it's my misuse of Keras, I am so sorry about this and I will close thie issue, thanks!

[2016-03-11 01:56] #4119 closed

[2016-03-11 14:53] nouiz commented on #4119
thanks for the update.

On Thu, Mar 10, 2016 at 8:56 PM, SunshineAtNoon <notifications@github.com>
wrote:

[2016-03-11 16:39] nouiz commented on #2472
For people wanting to know how to implement this:

- Understand how Theano graph are done. (bi-partite graph, with 2 type of node Variable and Apply node, you must understand how to navigate between each node)
- Start by the vm (python version). When this is done there, this can be ported to the cvm (c code). It is easier to work in python to develop the algorithm.
- start by understanding how the

[2016-03-11 16:51] fvisin commented on #3928
#3951 closes this ticket

[2016-03-11 16:51] #3928 closed

[2016-03-11 17:06] f0k opened #4213 "Optimization: 0/x -> 0"
Discussed in https://github.com/Theano/Theano/issues/4086#issuecomment-186286921, and required for #3758. I'm adding this as an issue so it's not forgotten.

**Arguments against this optimization:**
It will hide NaNs (e.g., 0/0 or 0/nan would become 0).

**Arguments for this optimization:**
There are other optimizations that hide NaNs as well (e.g., for 0 * nan or x / x), and the equivalent 0 * in

[2016-03-11 17:17] nouiz commented on #4213
"0 * inv(x)" is optimized by the opt "0 * x". It don't have a specific optimization.

I don't think local_mul_canonizer do that optimization. But we should make sure. If it do or don't add this in its docstring. If it don't why local_mul_specialize is only registered in specialize? I would register it in canonizer and stabilize.

This is always tricky to add such an optimization. We should test it

[2016-03-11 17:32] Sandy4321 commented on #4213
is rprop this kind of optimization

On Fri, Mar 11, 2016 at 12:17 PM, Frédéric Bastien <notifications@github.com

[2016-03-11 17:57] nouiz commented on #4213
This is optimization done on Theano graph. This isn't machine learning optimization technique. In Theano repo, we don't talk much about machine learning optimization, so most of time, we refert to graph optimization/speed optimization.

[2016-03-11 18:16] nouiz opened #4215 "clean up when numpy 1.8 is the minimal version"
Not for now as we still support numpy 1.7.1

But in many places, we do something like `isinstance(j, (integer_types, numpy.integer))`. With numpy 1.8 and more recent, we can do: `isinstance(j, integer_types)`.

Also grep and remove the comment: "http://projects.scipy.org/numpy/ticket/2235". But there is other place that need this clean up.

[2016-03-11 18:25] abergeron commented on #4215
Are you sure it's not `isinstance(j, numbers.Integral)` that we can do?

Because integer_types is just a tuple of `(int, long)` (or just `(int,)` on python 3).

[2016-03-11 18:31] lamblin commented on #4215
@abergeron is right, I just tried that with numpy 1.8.2, both on python 2 and 3, and:
[code]
Although
[code]
The latter works on 1.10.4, though, so the minimal version is not 1.8.

[2016-03-11 22:35] Sentient07 opened #4218 "Numpy module imported twice in ```theano/tensor/nnet/abstract_conv.py``` and ```theano/tensor/nnet/abstract_conv.py```"
In the recent commit, [https://github.com/Theano/Theano/commit/5f4eab9240bfd5a23d04385312d3fa71e676817c](url) the two(above mentioned) modules have been reimported. Initially it was ```import numpy```, and this commit added a line, ```import numpy as np```. I observed this while rebasing one of my PR and am a little surprised as to how it passed travis.

[2016-03-11 23:05] cancan101 opened #4219 "RuntimeError: Cuda error 'misaligned address' while copying %lli data element to device memory"
I am seeing this sometimes. It usually goes away after restarting the IPython Notebook Kernel:

[code]

[2016-03-12 00:37] f0k opened #4220 "Possible use of uninitialized GPU memory"
A Lasagne user found a problem with nondeterministic results for a convolutional autoencoder (discussion at https://groups.google.com/d/msg/lasagne-users/bfPPuQBBzmM/TatY1IuZBAAJ).

He provided a demonstration script: https://gist.github.com/sveitser/73984476c8bf3794e3f3
It should be completely deterministic, but when run on GPU with cuDNN, it provides different results at each run, and it is infl

[2016-03-12 02:02] nouiz commented on #4106
For me, it fail in both python 2.7 and 3.4. Which version of Theano do you use? Can you update Theano to 0.8rc1 or the development version:

http://deeplearning.net/software/theano/install.html#bleeding-edge-install-instructions

[code]

[2016-03-12 02:19] lamblin commented on #4220
The first thing I would try in order to get rid of some non-deterministic behaviour would be to set the config flags `dnn.conv.algo_bwd_filter` and `dnn.conv.algo_bwd_data` to `'deterministic'`, since the inverse conv layer is not deterministic by default in CuDNN (it uses `AtomicAdd`).

When running with an instance of `NanGuardMode` as the compilation mode, are you able to pinpoint where the nan

[2016-03-12 03:08] cb4 opened #4221 "Unhandled exception for CuDNN not available error"
This is my first programming contribution so if I've submitted this incorrectly please let me know.

I got errors installing theano 0.8.0rc1 into a new python 3.4 environment. Theano found my GTX 970 but always reported CuDNN as "not available" even though v4.0 was installed. Double-checked all environment variables, paths, etc. - they were fine. Troubleshooting turned up a couple of problems in t

[2016-03-12 03:10] nouiz commented on #4220
I'm able to reproduce it.

Using the flag optimizer_including=alloc_empty_to_zeros fix the problem
(after a few crash fix inside Theano, I'll make a PR later about that)

If I use mode=DebugMode and work around the false positive due to
PyCObject, I get this optimization that raise the error:
local_gpu_downsample_factor_max_grad_grad

I continue to check a little, but maybe I won't find other thin

[2016-03-12 03:24] nouiz commented on #4220
I have a fix:

https://github.com/Theano/Theano/pull/4222

the 2nd derivative max pool on the GPU don't support strides and we where
still moving it to the GPU.

On Fri, Mar 11, 2016 at 10:10 PM, Frédéric Bastien <
frederic.bastien@gmail.com> wrote:

[2016-03-12 08:46] gokul-uf commented on #3813
@nouiz I would like to work on this

[2016-03-12 15:45] abhishekgarg16 commented on #2655
Hi @nouiz , can you please explain in little more detail what exactly needs to be done?

[2016-03-12 16:44] gokul-uf commented on #2959
@nouiz @lamblin I am working on this

[2016-03-12 16:58] gokul-uf commented on #1064
@nouiz, this can be done by using the `os.environ` dictionary. The following code snippet should do the job
[code]

Where should I add these lines?
Also, now that we are working towards supporting multiple GPUS, doesn't having THEANO_MAX_GPU = no_of_GPUs make more sense than setting it to 1?

[2016-03-12 17:00] gokul-uf commented on #1064
@nouiz , I shall add it at the end of `__init__.py`

[2016-03-12 18:34] f0k commented on #4220
Nice catch! Thanks for describing some of the debugging steps as well, they're good to know.

[2016-03-12 19:52] gokul-uf commented on #2959
@lamblin I can work on this

[2016-03-12 20:43] lamblin opened #4224 "Mention alloc_empty_to_zeros in the documentation for tracking NaN."
AllocEmpty can introduce NaN when an Op does not properly clear the memory it is working on (for instance, when multiplying by 0 instead of ignoring it, since `0 * NaN => NaN`).
Using `optimizer_including=alloc_empty_to_zeros` replaces `AllocEmpty` by `Alloc{0}`, which is helpful to diagnose where NaNs come from.

[2016-03-13 14:47] Azrael1 commented on #1057
@nouiz I want to work on this problem. Where should I start?

[2016-03-13 20:48] sygi commented on #4149
I tried to take a look at it and found out that the problem exists only if one compiles with optimizer (setting
`optimizer=fast_compile` gives `NotImplementedError: We didn't implemented yet the case where scan do 0 iteration` or `No code run for for{cpu,scan_fn}(Subtensor{int64}.0, Subtensor{:int64:}.0, Subtensor{int64}.0)` if run in debugMode (what is strange by itself).

It seems that some opti

[2016-03-14 01:54] isalirezag opened #4227 "Could not find .egg-info directory in install record for Theano"
Im using Ubuntu 14.04 and when I install Teano although it says "succesfully installed Theano, it saied "  Could not find .egg-info directory in install record for Theano".
Please somebody help me why it happened and what do I need to do to fix it.
Thanks

[2016-03-14 13:37] nouiz commented on #1064
I suppose that subprocess shouldn't use the GPU by default. So if the user don't set it, the default, then subprocess shouldn't make an error.

In fact, I think we should only raise an error if we init the GPU in the sub process. This is done in the method use() in the file theano/sandbox/cuda/__init__.py and init_dev() in theano/sandbox/gpuarray/__init__.py.

[2016-03-14 14:16] nouiz commented on #4149
Good investigation. But I think we should let the optimization do as it do now, but convert the error to Nan? Do you understand why this generate an error instead of setting a nan?

To see the list of optimization applied, you can use this Theano flag: optimizer_verbose=True. To disable some optiization, you can use this flag: optimizer_excluding=opt1:opt2

[2016-03-14 15:14] lamblin commented on #4149
`//` is the integer division, and the type is `int64`, so `NaN` is not a possible value here.
That part of the graph is probably inserted by code trying to compute the length of scan, or of a subtensor of scan. That code is probably in `theano/scan_module/scan_opt.py`.

[2016-03-14 15:17] lamblin commented on #4227
Please use stackoverflow or the `theano-users` mailing list for such support requests.
You will have to provide the exact command you used, the complete error message you received, and try to see if importing theano from Python is actually failing. That could be a simple warning that does not prevent Theano from working.

[2016-03-14 15:17] #4227 closed

[2016-03-14 15:41] #4220 closed

[2016-03-14 16:54] nouiz commented on #817
done.

[2016-03-14 16:54] #817 closed

[2016-03-14 17:06] CongB opened #4229 "Import Theano Error"
I just installed all the required packages of theano and then installed theano. The installation is smooth but issue pops out when I try to import theano. I tried to uninstall and re-install it several times and use wheel to do the installation. Issue still not solved..

[2016-03-14 17:13] abergeron commented on #4059
Closed by #4144

[2016-03-14 17:13] #4059 closed

[2016-03-14 19:28] nouiz commented on #4229
Don't use python 3.5 with Theano on windows. They changed many things and
we didn't had anyone try to fix them.

Python 2.7 or 3.4 should work.

On Mon, Mar 14, 2016 at 1:06 PM, CongB <notifications@github.com> wrote:

[2016-03-14 20:02] fvisin opened #4230 "Add a convolution arithmetic tutorial"
This issue is being addressed by @vdumoulin

[2016-03-14 20:25] #4060 closed

[2016-03-14 21:09] CongB commented on #4229
@nouiz  Thanks a lot. I saw on the introduction page that any python version >= 3.3 would work. But after many frustrations I'm now settled with 3.4.

[2016-03-14 21:09] #4229 closed

[2016-03-15 00:38] nouiz opened #4233 "Faster cycle detection during optimization"
Currently, the cycle detection needed for the inplace optimization can be time consuming. Her is a few different way to help that:
- More strict algo that is faster to detect
- Incremental algo. Some exists
- c/cython version. Old quick test without adding type with cython gave 25% speed up of that part.

The more strict algo is my prefered current direction (@nouiz). For example, if we allow to b

[2016-03-15 01:25] nouiz commented on #1057
start by finding the op you want to add. Then grep in theano and google about it to know if it was added in Theano or if done by someone else but done outside of Theano.

As a first contribution, the last one would be a good start:

norm now support keepdims parameter: https://github.com/numpy/numpy/pull/5196/files

mostly, add the keepdims param to theano norm method.

[2016-03-15 01:33] nouiz commented on #4229
@fvisin can you make sure it get in the doc that on python 3.5 don't work
on windows?

thanks

On Mon, Mar 14, 2016 at 5:09 PM, CongB <notifications@github.com> wrote:

[2016-03-15 01:34] fvisin commented on #4229
Sure!

Ciao,
Francesco

On Mon, Mar 14, 2016 at 9:33 PM, Frédéric Bastien <notifications@github.com>
wrote:

[2016-03-15 01:40] nouiz commented on #2655
In the file theano/configdefaults.py, add a new Theano flag. I would guess the name "pickle_test_value" that default to True, but can be set to False.

Then in the class Variable(), you can add a \__getstate__() method that will don't cause the pickle of tag.test_value(). There is some example elsewhere of \__getstate__(). grep for it in Theano.

thanks

[2016-03-15 02:01] nouiz commented on #4221
We get contribution via gihub pull request. Do you want to try that?

We updated Theano with windows fix recently. Can you update Theano to the
dev version (save your modification first) and see if that fix your problem?

http://deeplearning.net/software/theano/install.html#bleeding-edge-install-instructions

On Fri, Mar 11, 2016 at 10:08 PM, cb4 <notifications@github.com> wrote:

[2016-03-15 02:21] abhishekgarg16 commented on #2655
Ok, i will be working on it and submit a pull request soon.

[2016-03-15 07:10] cai-lw commented on #3551
I encountered the same problem and found solutions by myself which was the same as those mentioned above.
It is because `cl` (VS compiler) will generate non-utf8 output, VS is installed in some non-English languages. Decoding by any specific encoding cannot solve the problem. We must find a way to get to know which encoding is `cl` using.
For Chinese guys: 设成gbk可以解决中文版VS的问题，但是用其他语言的怎么办……必须想办法知道VS用

[2016-03-15 11:38] cai-lw commented on #3551
@nouiz Sorry for disturbing. I found this issue because I encountered the same problem, although the issue have been inactive for long, and I come up with a solution that should work for all encodings and compatible with both Python 2 and 3. See #4235 for detail.

[2016-03-15 14:08] nouiz commented on #2962
I think the only way to do this well is via the gh-4233 issue. So I'm closing this.

[2016-03-15 14:08] #2962 closed

[2016-03-15 15:16] sygi commented on #4149
Thanks for the hints. I played with turning different optimizations on and off and as far as I see, the problem arises in connection with shape inference.
Adding `local_shape_to_shape_i` to fast_compile gives me the crash:
```THEANO_FLAGS="optimizer=fast_compile,exception_verbosity=high,optimizer_including=local_shape_to_shape_i,optimizer_excluding=constant_folding:MergeOptimizer:local_subtensor_m

[2016-03-15 15:31] youyoujialin commented on #3623
It seems that you need to downgrade all libraries depends on numpy, such as scipy, matplotlib, pandas.

[2016-03-15 15:32] avostryakov commented on #3827
I create a pull request with wrappers of cuDNN v.4 Batch Normalization functions:
https://github.com/Theano/Theano/pull/4237

It's not ready yet.

[2016-03-15 15:32] ZiangYan commented on #3623
It seems that you need to downgrade all python libraries which depends on numpy, such as scipy, matplotlib, pandas, etc.

[2016-03-15 15:45] nouiz commented on #3623
That is probably the right reason. So I'll close this issue as it seem answered and isn't about Theano.

thanks

[2016-03-15 15:45] #3623 closed

[2016-03-15 16:14] bartvm opened #4238 "GPU pickling error"
This was encountered by @yiulau. When unpickling a model on GPU (built using Blocks) the following error occurs:

[code]
It turns out that `container.data` and `x` are different `CudaNdarray` objects seemingly referring to different memory locations on the GPU, but with the exact same data:

[code]

The following code reproduces the error (requires Blocks and Fuel with MNIST downloaded): https://g

[2016-03-15 19:50] cb4 commented on #4221
Yes, I will do a pull request. I checked the latest theano update and it does not fix the problem. I have forked master and will create a pull request probably in the next couple of days. I’m running a long simulation right now that can’t be interrupted.

Conrad

From: Frédéric Bastien [mailto:notifications@github.com]
Sent: Monday, March 14, 2016 9:02 PM
To: Theano/Theano <Theano@noreply.github.c

[2016-03-15 22:51] bartvm commented on #4238
Seems to be a Blocks issue.

[2016-03-15 22:51] #4238 closed

[2016-03-15 23:02] gokul-uf commented on #4233
@nouiz, I believe this could become a part of the Faster optimization phase during compilation GSoC project idea

[2016-03-16 05:16] rayset opened #4243 "won't use gpu (incompatible kind: opencl)"
I followed those steps: http://deeplearning.net/software/libgpuarray/installation.html
the final test gives

[code]

and the test file in this page: http://deeplearning.net/software/theano/tutorial/using_gpu.html#gpuarray plots that it used the cpu,

I have opencl installed from amd (both the core and the dev packages) and clinfo displays my gpu:

[code]

[2016-03-16 14:27] abergeron commented on #4243
This is not a theano problem, but a libgpuarray problem.

Beyond that, the problem is that you libgpuarray was built without support for OpenCL.  It has to be enabled and found at compile time.

[2016-03-16 16:03] rayset commented on #4243
thank you, I opened an issue in libgpuarray too.

if anyone knows how to make it detect opencl ( I have fglrx and fglrx -dev) I would be grateful.

[2016-03-16 17:09] ImmanuelSamuel commented on #4167
I have the same issue as well. I did git clone and python setup.py develop. I see the pool.py file in theano->tensor->signal->pool.py. But i cannot run
```from theano.tensor.signal import pool```

[2016-03-16 17:23] nouiz commented on #4233
Yes. Do you have question?

I would start by making a first hacky version. Just to make sure it speed
up compilation and that it don't slow down too much execution.

For this, go in the file gof/destroyhandler.py. And modify the method:
_contains_cycle()

Call io_toposort() on the graph and do the check in a loop. This will
convert the algo from greather then O(n) to O(n). Later, this can be
chang

[2016-03-16 17:23] nouiz commented on #4233
I would profile this on 2 king of example, with convolution on GPU and
another one with scan.

On Wed, Mar 16, 2016 at 1:22 PM, Frédéric Bastien <
frederic.bastien@gmail.com> wrote:

[2016-03-16 18:08] nouiz commented on #4243
closing as the issue is moved to libgpuarray:
https://github.com/Theano/libgpuarray/issues/141

[2016-03-16 18:08] #4243 closed

[2016-03-16 19:06] JesseLivezey commented on #4141
I personally think some of the ```scan``` documentation could be reorganized to make it easier to use.

There is this page:
http://deeplearning.net/software/theano/library/scan.html
Two main ideas:
 - There are a bunch of examples before the ```scan``` function and signature are really described. I would move the ```reference``` part of the page before the ```Guide``` part of the page. Also ```ref

[2016-03-16 19:20] nouiz commented on #4219
Those this happen always on the same function? At the same place? Or this
is random?

I don't understand why this happen. Can you try with this PR:

https://github.com/Theano/Theano/pull/4245

it should give a better error message.

On Fri, Mar 11, 2016 at 6:05 PM, Alex Rothberg <notifications@github.com>
wrote:

[2016-03-16 19:23] nouiz commented on #4218
our flake8 tests don't check for import itself. We use more numpy.* in
Theano code, but in many projects, people use np.*

I prefer np.* as this is shorter and consistent with the rest of numpy
software stack. But I'm more used to numpy.*.

Should we make an issue to convert all Theano to np.*? Is this worthwhile?

I don't like too much that one file use a mix of both...

On Fri, Mar 11, 2016 at 5

[2016-03-16 19:58] gokul-uf commented on #4141
@fvisin is this ticket open for all or is it assigned to someone? I remember seeing in some other issue that CCWs are usually coassigned to someone. If not, let me know how I could help!

[2016-03-16 20:09] fvisin commented on #4141
@JesseLivezey Thank you for your suggestions! This ticket was initially meant to address the high level organization of the documentation, but I guess we will also get into the details of some of the pages. Your comments are very helpful, should we not incorporate them in this PR I will open another more focalized issue. Please feel welcome to provide other ideas.

@gokul-uf You are right, issues

[2016-03-16 22:06] hlin117 opened #4247 "Documentation of softmax has grammatical errors"
The documentation [here](http://deeplearning.net/software/theano/library/tensor/nnet/nnet.html#tensor.nnet.softmax) is quite incomprehensible because of the grammatical errors. (And I'm not sure what the documentation means when it mentions `Rop`.)

<img width="827" alt="screenshot 2016-03-16 17 04 26" src="https://cloud.githubusercontent.com/assets/1865885/13830222/4dfd3e28-eb99-11e5-9942-54a109c

[2016-03-17 00:17] ajboulay commented on #4201
I saw @local_optimizer([]) - register it into cannonicalize without this useless pattern.
https://searchcode.com/codesearch/view/15851265/

@local_optimizer([])
def local_cut_gpu_host_gpu(node):
    if tensor.opt.opt.check_chain(node, gpu_from_host, host_from_gpu):
        return [node.inputs[0].owner.inputs[0]]
    if tensor.opt.opt.check_chain(node, host_from_gpu, gpu_from_host):
        return

[2016-03-17 12:26] nouiz commented on #4233
For the later version, you need to make a new subclass of Feature. You must implement the method on_input_change() and on_import(). This will allow to test only the nodes introduced in the graph and nodes where its inputs are changed. In those method, just record in the object that it failed and in the method validate() raise an exception (InconsistencyError) and make sure the next call won't rais

[2016-03-17 12:29] nouiz commented on #4167
You probably have multiple Theano version installed and aren't using the
right one.

you can print theano.__file__ to see the currently imported version.

I would suggest to remove Theano "pip uninstall theano" a few times to make
sure all version are removed and reinstall.

On Wed, Mar 16, 2016 at 1:09 PM, ImmanuelSamuel <notifications@github.com>
wrote:

[2016-03-17 14:13] gokul-uf commented on #4247
@hlin117  The documentation does need to be improved, there's probably someone already working on it.

Here's what the note says right now,
softmax implements a particular operation ( Xij / sum over k Xik ) but it does not implement the row operation ( referred to as `Rop` in the current documentation ) for calculating the Hessian Free softmax. The corresponding to that would be exp(Xij) / sum ove

[2016-03-17 14:54] nouiz commented on #4247
Don't close this. This isn't included in #4141.

On Thu, Mar 17, 2016 at 10:13 AM, Gokula Krishnan <notifications@github.com>
wrote:

[2016-03-17 15:16] gokul-uf commented on #4247
In that case, I will send a PR fixing this

[2016-03-17 16:01] nouiz commented on #4247
thanks

On Thu, Mar 17, 2016 at 11:16 AM, Gokula Krishnan <notifications@github.com>
wrote:

[2016-03-17 18:20] nouiz commented on #3067
I don't see that in the short or medium term, so I'll close this issue. But if someone have good ideas of how to do that, tell them.

[2016-03-17 18:20] #3067 closed

[2016-03-17 19:07] sygi commented on #2472
Could I ask for (even more) clarification on that? I mean, as partial evaluation you mean:
a) putting just a subset of inputs, calculate some subset of nodes and then, if you give the rest of the inputs multiple times, you don't recompute the nodes that were saved previously OR
b) give all the inputs, but calculate only some subset of the output nodes. This seems as more expected interpretation, a

[2016-03-17 19:18] hlin117 commented on #4247
@gokul-uf I didn't want to post on the google group for Theano, since this was an issue that needed to be fixed with the package. Thanks for submitting a PR to fix it.

[2016-03-17 19:25] nouiz commented on #2472
Don't hesitate to ask questions. It is only by well understanding the
problem that we can find a good solution:)

It is more b). Maybe you don' t need to give all inputs as some are maybe
not needed to compute the subset of output we need to compute.

This is similar to compiling many function, but would save on the
compilation time and memory consumption (not so much a problem). As the
goal is to

[2016-03-18 06:25] hlin117 opened #4254 "Documentation markdown for tensor transpose is messed up"
Seen on [this page](http://deeplearning.net/software/theano/library/tensor/basic.html#theano.tensor._tensor_py_operators.transpose).

![screenshot 2016-03-18 01 22 35](https://cloud.githubusercontent.com/assets/1865885/13869968/15d20b2c-eca8-11e5-8262-7d44d359b295.png)

Related: #4141. (Transpose is not mentioned in that issue.)

[2016-03-18 13:36] Sylvus opened #4255 "Optimization of FGraph reports bug"
Hi, I'm using Lasagne and everything works fine. However, when starting my program I get the following message:

It doesn't bother me because the program still runes but in case this was an unknown bug, I wanted to share it. If you want I can post my lasagne code but it is really just a collection of standard convolutional layers.

Currently using theano
0.8.0rc1.dev-35254935ca6cf165481154d7bbc77e

[2016-03-18 13:38] nouiz commented on #4255
Can you update Theano to the dev version:

http://www.deeplearning.net/software/theano/install.html#bleeding-edge-install-instructions

And tell us if it still happen? If it still happen, I would like a way to
reproduce this.

thanks

On Fri, Mar 18, 2016 at 9:36 AM, Sylvus <notifications@github.com> wrote:

[2016-03-18 13:45] Sylvus commented on #4255
I updated to the dev version (there were only one or two commits missing). The error message stayed but the line numbers changed slightly so I'm posting it again:

<<!! BUG IN FGRAPH.REPLACE OR A LISTENER !!>> <class 'TypeError'> ('The type of the replacement must be compatible with the type of the original Variable.', GpuAllocEmpty.0, GpuAllocEmpty.0, CudaNdarrayType(float32, (False, True, False,

[2016-03-18 14:00] nouiz commented on #4255
You can use function_dump() for this case:

http://deeplearning.net/software/theano/library/compile/function.html#theano.compile.function.function_dump

Do that only on the function that fail.

On Fri, Mar 18, 2016 at 9:45 AM, Sylvus <notifications@github.com> wrote:

[2016-03-18 14:16] Sylvus commented on #4255
Thanks, I did that. Attached is the dump.
[function_dump.zip](https://github.com/Theano/Theano/files/179804/function_dump.zip)

[2016-03-18 14:47] pchavanne commented on #4255
Hi, I get the s

[2016-03-18 14:48] pchavanne commented on #4255
Hi, I get the same kind of message:

[code]

[2016-03-18 15:29] carlthome commented on #1801
Had the same issue with missing graphviz and it took me longer to fix than it should have since I had to look at the Theano source to understand what was wrong. The ImportError is really misleading.

[2016-03-18 15:45] nouiz opened #4257 "Op.grad() should take node as a parameter"
When the grad need the output of the forward, currently, we must create a new node equivalent to the forward just to get that. This ask more work from the optimizer to merge that and make the printing or not optimized graph less readable. I'm not sure if we optimize correctly all the graph for the 2nd derivative in all case where this happen.

The current interface: `def grad(self, inp, grads)`. T

[2016-03-18 16:40] sygi commented on #2472
I dived into the code and have few more questions about how it works:
0. Is it at all the around the thing we're discussing here? That is, is the `f.apply(inputs, outputs)` a good way to think about this feature?
1. Am I correct that one needs to implement this feature for all VMs, i.e. `Stack`, `Loop`, `CVM`, etc.?
2. I thought about passing the output indices as a kwarg to the function call e.q.

[2016-03-18 16:55] nouiz commented on #2472
On Fri, Mar 18, 2016 at 12:40 PM, Jakub Sygnowski <notifications@github.com>
wrote:

yes. It look good. Not sure about the name, could be call, execute. I don't
have a strong preference for the name, but that is a detail.

Only Stack and CVM can implement it. Loop and LoopGC don't have an
execution engine that allow this to work.

I prefer that. You use this fct signature, I think it would work:

[2016-03-18 17:14] nouiz commented on #1801
In the master of Theano, the error is:

Failed to import pydot. You must install pydot and graphviz for
`pydotprint` to work.

What do you suggest we tell? It already tell that graphviz must be there.
If you have better message to add, we can change it.

thanks

On Fri, Mar 18, 2016 at 11:29 AM, Carl Thomé <notifications@github.com>
wrote:

[2016-03-18 17:19] carlthome commented on #1801
The same clarification could be added here as well: https://github.com/Theano/Theano/blob/458e1594c9407ac1fd2a7b6751c6ee2385c5d33f/theano/d3viz/formatting.py#L54

[2016-03-18 17:23] nouiz commented on #1801
Good find. Do you want to make a PR and have your name in the history of
git commit of Theano?

Otherwise, I can do it.

On Fri, Mar 18, 2016 at 1:19 PM, Carl Thomé <notifications@github.com>
wrote:

[2016-03-18 17:25] carlthome commented on #1801
Yey, the epic commit history! I'll do a pr now. :+1:

On 18 March 2016 at 18:23, Frédéric Bastien <notifications@github.com>
wrote:

[2016-03-18 19:05] nouiz commented on #4110
Just an update. All tests passes, so we don't need change for the release. There is deprecation warning, but this will be fixed after the release. So I'm removing the milestone.

[2016-03-18 19:14] lamblin opened #4262 "gpuarray.GpuJoin with negative axes"
This ticket is about cleaning up the fix in #4258.
- [ ] First, we should sort out if `axis` should be changed to a signed type in `gpuarray`, in `pygpu`, or if only Theano Ops should accept negative axes.
- [ ] Then, we should make `GpuJoin.perform` raise `IndexError` instead of `OverflowError` when axis < -ndim, be it by modifying `perform` or something in `pygpu` or in `gpuarray` to add explici

[2016-03-18 19:20] lamblin opened #4264 "BadOptimization error for local_gpua_careduce with acc_dtype"
The following test fails in DebugMode:

[code]

[2016-03-18 19:36] nouiz commented on #3879
Done. Now we clip at 0.95 by default. The user can set a fixed size if he want to go higher.

[2016-03-18 19:36] #3879 closed

[2016-03-18 20:02] lamblin commented on #4264
It may not be that bad, actually.
The data it is trying to reduce is the following:
[code]

So the result does not fit in an `int16`. The casting from the `float64` accumulator to `int16` in that case seems to be done in a different way:
- the CPU implementation wraps around, and gives `-30210`, which is `35326 - 2**16`;
- the GPU implementation returns the max `int16` possible, `32767`, or `2**15

[2016-03-18 21:36] sygi commented on #2472
Thanks for the comments, I applied most of them in the code. I have few more questions:
1. I wanted to make a test where I'd check if I really don't calculate some part of the graph and thought about using profile to do that, but apparently, when I passed `profile=True` to function, I got an error (` File "/home/sygi/projekty/Theano/theano/compile/profiling.py", line 687, in summary_memory
    fct

[2016-03-19 02:13] nouiz commented on #2472
On Fri, Mar 18, 2016 at 5:36 PM, Jakub Sygnowski <notifications@github.com>
wrote:

Bug, try this branch:

https://github.com/nouiz/Theano/tree/profiling

Maybe there is more problem later.

I'm happy to help you finish this:)

I did other comment on the PR.

thanks

Frédéric

[2016-03-19 02:50] nouiz commented on #4201
I don't understand the question. That particular optimization isn't
bottleneck to my knowledge.

On Wed, Mar 16, 2016 at 8:17 PM, aj boulay <notifications@github.com> wrote:

[2016-03-19 07:45] dwf opened #4266 "Blocks tests non-deterministically segfault with latest Theano and default optimizer"
TestRecurrentWrapper in tests/bricks/test_recurrent.py is causing a segfault but only sometimes. In fact, I haven't gotten to work except in the context of running the entire test suite.

Running with device=cpu and float64.

[2016-03-19 13:39] xgenvn commented on #3818
AFAIK, from the source code it's under ***C:\Users\<username>\AppData\Local\Theano***. I met same errors, import theano produced same errors over and over, I couldn't even access to the config class.

[2016-03-19 14:03] aloctavodia opened #4267 "TypeError: ufunc not supported for the input types"
Hi,

I have implemented a VonMises distribution (the idea is to added to PyMC3) the relevant line of code for my problem is:

[code]

Since the modified Bessel function is not implemented in Theano I am using that function from SciPy ``special.i0()`. The codes runs on my computer, but when I do a pull request to PyMC3 master, Travis complains with the error:

[code]

I have two question that I hop

[2016-03-19 15:15] sygi commented on #2472
Thanks for the help! I applied most of the comments and squashed the commits into one.
0. I wonder, do you prefer to try to have a working solution for vm, push it and continue with cvm or try to merge them with master together when they'll be ready?
Anyway, I took a look at the travis output and my current [implementation](https://github.com/Theano/Theano/compare/master...sygi:partial-evaluation?

[2016-03-19 21:17] dwf opened #4268 "gradient of binary_cross_entropy of subtensor(sigmoid(...))"
Like #4086, the forward pass optimizes correctly; the gradient does not.

[code]

[2016-03-20 08:31] xiongxiaochu commented on #3780
there is an error occured when I am compling my theano project:
Exception: ('The following error happened while compiling the node', forall_inplace,cpu,grad_of_scan_fn&grad_of_scan_fn&grad_of_scan_fn&grad_of_scan_fn}(Shape_i{0}.0, InplaceDimShuffle{0,x,1}.0, Subtensor{int64:int64:int64}.0, Subtensor{int64:int64:int64}.0, Subtensor{int64:int64:int64}.0, Subtensor{int64:int64:int64}.0, Alloc.0, Allo

[2016-03-20 13:00] meanmee opened #4269 "Softmax for Image Segmentation"
I am trying  to implement the Fully Convolutional Networks via Keras and Theano. But When I add Softmax after the Deconvolution Layer， There an error raise: softmax do nor support 4-D input.

So, I just wonder any easy way to implement the pixel-wise softmax? not just a for loop.

[2016-03-20 15:57] sunshineatnoon opened #4270 "Compilation stuck"
I wrote this loss function for my model, but it takes like forever to compile. Here is the script I use:

[code]

[2016-03-21 02:02] #4270 closed

[2016-03-21 10:18] benanne commented on #4269
You can fold the spatial dimensions into the batch dimension using a dimshuffle and a reshape: basically you go from (batch_size, channels, height, width) to (batch_size * height * width, channels), then apply the softmax on this 2D array, and then reshape the result back to the original shape.

We've been discussing this use case for Lasagne ( https://github.com/Lasagne/Lasagne/issues/626 ), but

[2016-03-21 13:33] nouiz commented on #3780
You mean you set the Theano flag:

    gcc.cxxflags='-march=core2'

And that this don't solve your problem? Can you print theano.config.gcc.cxxflags to be sure you set it correctly? Be sure to use Theano  0.8rc1 or Theano dev version: http://www.deeplearning.net/software/theano/install.html#bleeding-edge-install-instructions

[2016-03-21 13:52] nouiz commented on #3818
Can you delete manually the compiledir? If that don't fix it, give your
full error message.

On Sat, Mar 19, 2016 at 9:39 AM, Anh Tu Nguyen <notifications@github.com>
wrote:

[2016-03-21 14:09] nouiz commented on #4266
Can you start it with gdb to know where that happen?

On Sat, Mar 19, 2016 at 3:45 AM, David Warde-Farley <
notifications@github.com> wrote:

[2016-03-21 14:35] lamblin commented on #4268
Can you try with something else than a constant for the target?
For some reason, it looks like constant folding may interfere with the other optimizations.

[2016-03-21 14:54] fvisin commented on #4254
Thank you @hlin117. I took note of it in #4141, it will take us some time to go through everything, but we will try our best to fix the documentation in a reasonable amount of time.

[2016-03-21 15:03] nouiz commented on #4269
We could create something for that in Theano. Do you have a suggestion for
the interface?

On Mon, Mar 21, 2016 at 6:18 AM, Sander Dieleman <notifications@github.com>
wrote:

[2016-03-21 17:08] nouiz opened #4272 "Port MultinomialFromUniform to the new gpu back-end"
subset of https://github.com/Theano/Theano/issues/1471

Port the class GpuMultinomialFromUniform from the file sandbox/multinomial.py to the new back-end.

[2016-03-21 17:33] xgenvn commented on #3818
Hi, to fix the issue I had to delete compiledir manually. I guess there's an issue with windows file system, when number of files is huge, deleting those folders might fail.

[2016-03-21 18:18] nouiz commented on #4267
I think the error is caused by different numpy version. The error you gave
seem to come from numpy. Can you compare the version used by pymc3 travis
and the version you have?

On Sat, Mar 19, 2016 at 10:03 AM, Osvaldo Martin <notifications@github.com>
wrote:

[2016-03-21 18:20] nouiz commented on #3833
As not activity, I'll close.

[2016-03-21 18:20] #3833 closed

[2016-03-21 19:04] aloctavodia commented on #4267
It seems both versions are the same NumPy 1.10.4.  and SciPy 0.17.0.

Btw in as a workaround I have implemented the modified Bessel functions as a series (instead of using the functions from SciPy), using that approximation the Travis test were successful. Nevertheless I am still curious about this problem.

[2016-03-21 20:02] tsirif commented on #3900
Is this closed with 0.8.0?

[2016-03-21 20:49] nouiz commented on #3900
No, the PR isn't merged. This wasn't needed for the release any. I made a comment on the PR to help get it merged soon.

[2016-03-21 20:51] nouiz commented on #4267
Can you add this theano flag with the code that cause the problem:
exception_verbosity=high and give the full error message.

On Mon, Mar 21, 2016 at 3:04 PM, Osvaldo Martin <notifications@github.com>
wrote:

[2016-03-21 21:11] dwf commented on #4268
Much the same graph with the `d = tensor.vector()`

[code]

[2016-03-21 22:05] aloctavodia commented on #4267
To do that I should send a new pull request, right? I would prefer not to do that because I have already send the workaround version to PyMC3. I tried to replicate the problem in a couple of computers and I do not see the error. I could try installing different NumPy and Theano versions

[2016-03-21 22:25] gokul-uf opened #4274 "Deprecation warning while upgrading to 0.8.0"
While upgrading to Theano 0.8 from Theano 0.7 via `pip` ( `sudo pip install --upgrade theano` ) , I get the following warning
`DEPRECATION: Uninstalling a distutils installed project (numpy) has been deprecated and will be removed in a future version. This is due to the fact that uninstalling a distutils project will only partially uninstall the project.`

This message came up while the install un

[2016-03-21 23:23] abergeron commented on #4274
This is normal and has nothing to do with Theano.

It is there because the previous version of numpy was installed with distutils instead of pip.

Also, you don't have to update numpy to install the newer theano, 1.8 is still supported.

[2016-03-21 23:23] #4274 closed

[2016-03-21 23:26] abergeron commented on #4267
The error comes from numpy and is from the fact that you are mixing symbolic (Theano) and numeric (scipy) code.  This will not work.

If you want to use a scipy function in theano you have to wrap it up as an op (maybe with `@as_op` http://deeplearning.net/software/theano/library/compile/ops.html#theano.compile.ops.as_op).

[2016-03-21 23:33] mgermain commented on #4141
Just a note about something which is not documented.

In `.theanorc` the way I would put this flag `config.dnn.conv.algo_fwd` is:
[code]
But .theanorc wants max one nesting in sections flags so the right way to do it is:
[code]

[2016-03-22 00:13] aloctavodia commented on #4267
@abergeron I know it should not work. but it does. I found this by mistake I just put special.i0 as a placeholder until I found a solution like the one you describe and to my surprise (or the one I finally implemented) and the code runs and I also got the correct results (I use the von mises distribution implemented in SciPy to compare).

Now if I write
[code]
I will get, as expected, the error
[c

[2016-03-22 00:33] nouiz commented on #4274
You can pass the parameter --no-deps to pip to not upgrade Theano
dependency.

On Mon, Mar 21, 2016 at 7:23 PM, abergeron <notifications@github.com> wrote:

[2016-03-22 00:50] nouiz opened #4275 "Make delete of Theano function delete all of it in 1 call to gc.collect()"
https://groups.google.com/d/topic/theano-users/A52Y64VaN-I/discussion

It happened a few times that user think there is a link in a compiled Theano function, but the problems is circular reference in our representation that request multiple the cycle detection pass of Python gc.

What about implementing FunctionGraph.\__del__  and deleting the clients fields to break some the cycles. After this on

[2016-03-22 00:57] hawklucky opened #4276 "theano test error"
Theano version 0.8.0rc1.dev-260fc9a7af181dde0cd9c8f411bbdf3e4894f4c6
theano is installed in /home/hzw/Downloads/Theano/theano
NumPy version 1.10.4
NumPy relaxed strides checking option: False
NumPy is installed in /home/hzw/Downloads/Theano/theanovenv/lib/python3.5/site-packages/numpy
Python version 3.5.1 (default, Dec  7 2015, 12:58:09) [GCC 5.2.0]
nose version 1.3.7
/home/hzw/Downloads/Theano/th

[2016-03-22 00:59] nouiz commented on #4275
https://docs.python.org/2/reference/datamodel.html#object.__del__ recommand to not implement \__del__

The cycle in Theano graph cause many problems, at least this one and make it more complicated to fix deepcopy max recursion.

So what about changing the way we represent clients? What about making a dict in FunctionGraph whose key is an Apply node while the value is the clients list? To not break

[2016-03-22 01:43] nouiz commented on #4268
Here is the graph without fusion:

[code]

Just to be sure, the fix is to move the mul before the subtensor. Or you
mean something else?

There is the optimization local_IncSubtensor_serialize do something similar
for the Add operation.

On Mon, Mar 21, 2016 at 5:11 PM, David Warde-Farley <
notifications@github.com> wrote:

[2016-03-22 02:32] abergeron commented on #4267
What is the type of 'kappa' in your initial code?

[2016-03-22 03:22] xiongxiaochu commented on #3780
I used this command to set the Theano flag:
THEANO_FLAGS='config.gcc.cxxflags=-march=core2'  python my_model.py
and the output for "print theano.config.gcc.cxxflags" is nothing. So I'm not sure whether it has been set correctly. Additionally, I am using the Theano dev version.
This time, I got the same error message...

[2016-03-22 10:45] aloctavodia commented on #4267
I see now! My original code works only for the special case when kappa is a Python variable like a float or int, but not when kappa is a Theano tensor. Thanks for the help and sorry about the confusion.

[2016-03-22 10:55] allentran opened #4277 "Version 7.3 Command Line Tools for XCode breaks Theano"
Cannot `import theano`

Exception: Compilation failed (return status=1): clang: error: unknown argument: '-target-feature'. clang: error: unknown argument: '-sse4a'. clang: error: unknown argument: '-target-feature'. clang: error: unknown argument: '-target-feature'. clang: error: unknown argument: '-target-feature'. clang: error: unknown argument: '-tbm'. clang: error: unknown argument: '-target-

[2016-03-22 11:30] Sentient07 commented on #4275
@nouiz The former moment was what i have written in my proposal, a way to break recursion in input-output. I understand the alternative method in your second comment. But could you please elaborate more on the warning ?

[2016-03-22 12:35] nouiz commented on #4275
If you mean "to not use \__del__" as the warning, it mean, my first suggestion isn't a good one. We should not use \__del__.

[2016-03-22 12:46] theaverageguy commented on #3813
@nouiz Some help on this please.

[2016-03-22 12:47] nouiz commented on #3780
Use:

THEANO_FLAGS='gcc.cxxflags=-march=core2' python my_model.py

On Mon, Mar 21, 2016 at 11:22 PM, Zhangzq <notifications@github.com> wrote:

[2016-03-22 12:47] theaverageguy commented on #4247
I think this can be closed @nouiz

[2016-03-22 12:49] theaverageguy commented on #4224
Where do we add this ?

[2016-03-22 12:58] nouiz commented on #4247
thanks

[2016-03-22 12:58] #4247 closed

[2016-03-22 12:58] nouiz commented on #4247
thanks

[2016-03-22 13:17] nouiz commented on #4224
I would add it to the NanGuardMode documentation:

http://deeplearning.net/software/theano/library/compile/nanguardmode.html#nanguardmode

it is in the file doc/library/compile/nanguardmode.txt.

On Tue, Mar 22, 2016 at 8:49 AM, theaverageguy <notifications@github.com>
wrote:

[2016-03-22 13:20] nouiz commented on #3813
First start by understanding what numpy does when nd != 2.
If this is what @galinngeorgiev gave code for, you can use the implementation idea he used. I don't like the idea of using scan for this. It would be not performant. Using theano.tensor.{tile,repeat} could help you.

Then change the code in the triu and tril function in tri and tril functions in tensor/basic.py and tests for that in tensor

[2016-03-22 14:07] lamblin commented on #4276
Hi,

It looks like python 3.5 is stricter in terms of how C extensions should
behave, as I cannot reproduce the issue with python 3.4, but I can wit
3.5. See [1].

I have an idea on how to fix it, I'll try to submit a PR.

In the mean time, the worse that is happening is that instead of an
IndexError, we see a SystemError wrapping that IndexError, so there
should be no issue for you except if you

[2016-03-22 14:35] y0ast commented on #4277
For those needing a temporary work around, download the command line tools for XCode 7.2 (the 10.11 version)

Third row here: https://developer.apple.com/downloads/?=command%20line%20tools

[2016-03-22 14:36] nouiz commented on #2472
0. I prefer to merge for the VM alone first. In case some people want to try it and comment on it.

Call self.fn() with the output_subset only when it isn't None.  This could fix your problem. With the full error message, I could tell more.
1) I prefer to not do that and don't set the parameter whtn it is None.
2) Grep for CLazyLinker_call in that file. It is used at 2 places. The first one define

[2016-03-22 14:39] nouiz commented on #4268
In summary the missing optimization is:

Mul(IncSubtensor(zeros, value, shapes...), b) -> IncSubtensor(zeros,
Mul(value, b), shapes...)

On Mon, Mar 21, 2016 at 9:43 PM, Frédéric Bastien <
frederic.bastien@gmail.com> wrote:

[2016-03-22 14:55] nouiz commented on #3864
Just to update that we did a release. If someone is ready to set up a buildbot like travis for windows, it would help futur release. There is free travis like for windows.

[2016-03-22 15:08] nouiz commented on #4081
https://github.com/lisa-lab/DeepLearningTutorials/pull/150

[2016-03-22 15:08] nouiz commented on #4174
https://github.com/lisa-lab/DeepLearningTutorials/pull/150

[2016-03-22 15:09] nouiz commented on #1950
I think this is fixed. As it is old, I'll just close, if someone see this again, tell us.

[2016-03-22 15:09] #1950 closed

[2016-03-22 16:07] sygi commented on #2472
Thank you for the comments. Sorry for closing PR, I didn't know you'll not be able to comment :( (nor that I'll not be able to reopen it if I'll do some git tricks).
I applied your comments.
I implemented handling of `output_keys` in a way that if that dictionary is present, then you need to pass the list of the keys instead of indices (see [here](https://github.com/Theano/Theano/pull/4279/commits

[2016-03-22 16:29] mikeloukides commented on #1871
I just installed 0.8.0, and now I'm running into a different error:

ImportError                               Traceback (most recent call
last)<ipython-input-3-59b094c68549> in <module>()      8 from
sklearn.linear_model import LogisticRegressionCV      9 ---> 10 from
keras.models import Sequential     11 from keras.layers.core import
Dense, Activation

     12 from keras.utils import np_utils

.

[2016-03-22 16:31] #4081 closed

[2016-03-22 16:31] #4174 closed

[2016-03-22 16:34] lamblin commented on #1871
`theano.gov` is still there. Can you try uninstalling completely Theano, making sure there is no other version of Theano on your system, and resinstalling version 0.8?

[2016-03-22 16:37] lamblin commented on #4224
I think we should actually put it in http://deeplearning.net/software/theano/tutorial/nan_tutorial.html, which lists different possible causes of nan and ways to detect them (including, but not exclusively, NanGuardMode).

[2016-03-22 17:04] mikeloukides commented on #1871
Yeah, though now I'm getting different errors... this may have to do with
upgrading to OS X 10.11.4:

/Users/mikel/anaconda/lib/python3.4/site-packages/IPython/html.py:14:
ShimWarning: The `IPython.html` package has been deprecated. You
should import from `notebook` instead. `IPython.html.widgets` has
moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)
Using

[2016-03-22 17:13] sebastianrisi opened #4280 "Help with following error message"
I get the following error message when I try to run any Theano code on my Mac. More specifically, when the code includes "theano.function(...)", , Reinstalling/updating Theano and anaconda didn't help. A couple of days ago it worked fine. I think the only difference is the "Command Line Tools (OS X 10.11) for Xcode" update that was installed. I tried downloading Xcode and changing the used command

[2016-03-22 17:23] #4280 closed

[2016-03-22 17:50] abergeron commented on #4277
This PR should fix the problem: https://github.com/Theano/Theano/pull/4281

[2016-03-22 18:03] cmyr commented on #4277
@abergeron that worked for me, thanks. :clap:

[2016-03-22 20:00] nouiz commented on #4280
Just a follow up, this is fixed by this PR:
https://github.com/Theano/Theano/pull/4281

It is caused by new version of apple software that don't support old stuff.

On Tue, Mar 22, 2016 at 1:23 PM, Seb <notifications@github.com> wrote:

[2016-03-22 20:00] nouiz commented on #1871
This is caused by new version of Apple software. We have a work around in
this PR:

https://github.com/Theano/Theano/pull/4281

On Tue, Mar 22, 2016 at 1:04 PM, Mike Loukides <notifications@github.com>
wrote:

[2016-03-22 20:04] mikeloukides commented on #1871
Thanks.  Thought it was probably an OS X problem.  OS X is getting more and
more problematic...

Mike Loukides
VP, Content Strategy
O'Reilly Media, Inc.

On Tue, Mar 22, 2016 at 4:01 PM, Frédéric Bastien <notifications@github.com>
wrote:

[2016-03-22 20:07] #4277 closed

[2016-03-22 20:29] fvisin commented on #4162
@Sentient07 sorry for the late reply! Thank you for volunteering, unfortunately the issue has already being assigned and is currently being worked on.

[2016-03-22 20:31] Sentient07 commented on #4162
@fvisin No problem. :)

[2016-03-22 21:10] Sentient07 commented on #4275
But using a dict would make it slow ? I had thought the warning was related to the task getting slow. I will update the latter with the former in the proposal. My only worry is it might be slow..

[2016-03-22 21:11] tsirif commented on #1080
How much does it need still to be done for this? Does anybody know which calls or operations are left?
I would like to take it on for GSoC '16 PR

[2016-03-22 21:56] gokul-uf commented on #1080
@tsirif check out the ideas with low priority section here https://github.com/Theano/Theano/wiki/GSoC2016

[2016-03-22 22:08] tsirif commented on #1080
@gokul-uf  I didn't describe this well, sorry. I mean i want to do a PR in order to be eligible to participate for GSoC. Is there anything available considering this issue?

[2016-03-22 22:19] gokul-uf commented on #1080
I'm not sure, I have not been following this. @nouiz  or @lamblin  would be able to answer your query

[2016-03-22 22:22] MarcCote commented on #1080
`T.searchsorted` doesn't seem to exist. I just remembered I had started it a while back. This might help:
https://github.com/MarcCote/Theano/blob/searchsorted/theano/tensor/extra_ops.py#L11

[2016-03-22 22:24] tsirif commented on #1080
Thanks i will look this up!

[2016-03-22 22:28] jli05 opened #4282 "Cannot import Theano 8.0 with Xcode 7.3 (7D175)"
`import theano` will trigger loads of errors as:

clang: error: unknown argument: '-target-feature'
clang: error: unknown argument: '-rdseed'
clang: error: unknown argument: '-target-feature'
clang: error: unknown argument: '-target-feature'
clang: error: unknown argument: '-hle'
clang: error: unknown argument: '-target-feature'
clang: error: unknown argument: '-target-feature'
clang: error: unkno

[2016-03-22 23:01] abergeron commented on #4282
Yes Xcode 7.3 was release the day after 0.8 but it is fixed in the development version.

You can use the current master: http://deeplearning.net/software/theano/install.html#bleeding-edge-install-instructions to get it working.

We will probably do release 0.8.1 in a bit to have an official fixed release.

[2016-03-22 23:06] nouiz commented on #4282
Closing as the update will fix it.

[2016-03-22 23:06] #4282 closed

[2016-03-23 01:29] #4213 closed

[2016-03-23 02:01] zhaolei opened #4284 "conv.conv2d to Segmentation fault"
img size 24,25  conv.conv2d is OK!

` stone@gpu test $ python cnn02.py `
- Using gpu device 0: GeForce GTX 970
- filter: (5, 3, 9, 9)
- img.shape: (24, 25, 3)
- img_.shape: (1, 3, 24, 25)
- filtered_img.shape: (1, 5, 16, 17)

img size > 24,25 conv.conv2d is  **Segmentation fault**

`stone@gpu test $ python cnn02.py `

- Using gpu device 0: GeForce GTX 970
- filter: (5, 3, 9, 9)
- img.shape: (75, 7

[2016-03-23 02:26] chengzhanzhan commented on #4170
@nouiz You are right!

Now I update the theano version to 0.8.0rc1.dev-e563c53c1c74d84b727ddeb9e3a53eb558e0944b
 by using "sudo python setup.py develop".

Then I set cnmem a value between 0 and 1, I got another error:
`$ python -c "import theano"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/zzcheng/Theano/theano/__init__.py", line 103, in <module>
    imp

[2016-03-23 10:09] zhaolei commented on #4284
`theano-cache purge `
Than it's OK

ths

[2016-03-23 12:47] jli05 commented on #4282
It'd be great if we do a bugfix/patchset release. Ordinary users would welcome a latest and stable working copy.

[2016-03-23 13:24] nouiz commented on #4284
We released Monday Theano 0.8. It contain speed too many updates to list here. I strongly recommand that you update. Probabaly a theano-cache purge before using the new version will help.

[2016-03-23 13:24] #4284 closed

[2016-03-23 13:48] nouiz commented on #4170
This is strange.

The min() python command seem to only take 1 parameter.

Can you add this "import pdb;pdb.set_trace()" juste before the call to min.
This will get you in python debugger. then excute just "min" and give me
this output?

Here it work well. I have this output: "<built-in function min>"

Have you modified this file?

On Tue, Mar 22, 2016 at 10:27 PM, Zhanzhan Cheng <notifications@gi

[2016-03-23 13:51] #4276 closed

[2016-03-23 15:12] #3742 closed

[2016-03-23 16:17] ozancaglayan commented on #3029
Just for information,

I tested a GRU based NMT code with and without that `AdvancedIncSubtensor1_dev20` optimization. Here is the mean minibatch update time for 520 updates on a Tesla K40, CUDA 6.5, without CUDNN:

[code]

So I decided to go without the optimization since it doesn't seem to hurt the performance in my setup.

Thanks!

[2016-03-23 18:22] nouiz commented on #3029
thanks for the information.

On Wed, Mar 23, 2016 at 12:17 PM, Ozan Çağlayan <notifications@github.com>
wrote:

[2016-03-23 19:28] nouiz commented on #4268
There is the opt local_subtensor_lift that do the opposite for Subtensor. So I would call that optimization local_incsubtensor_sink as we use the work sink for the reverse operation.

[2016-03-23 23:22] Sentient07 commented on #1681
@nouiz Replacing the EquilibriumOptimizer with the CGTOptimizer is related to this issue ?

[2016-03-24 01:07] #3900 closed

[2016-03-24 01:29] #4086 closed

[2016-03-24 09:25] ozancaglayan commented on #3029
I have another comment here.

I run my NMT system 4 times with the default Theano having the non-deterministic behaviour and 2 systems by patching the `sandbox/cuda/opt.py` to always use the `AdvancedIncSubtensor1` op.

BLEU (translation evaluation metric, higher is better) scores for 4 systems with non-deterministic behaviour:
[code]

The deterministic systems gave a BLEU of `36.88`. This is a pr

[2016-03-24 11:41] Sentient07 commented on #4201
@nouiz A small confirmation.Is backward-pass done to verify that the op in the middle of the graph is implemented on the GPU or not ?

[2016-03-24 12:20] Sentient07 commented on #1681
@nouiz, also, could you please explain "Make EQ optimiser loop less frequently by using on_change_input" ?

[2016-03-24 13:08] nouiz commented on #1681
The CGToptimizer is related to this issue. I added it to the list.

Make EQ opt loop less frequently by using on_change_input isn't needed if you do CGTOptimizer.

I rewrote gh-4233 to be more clear.

[2016-03-24 13:11] nouiz commented on #4201
The back-ward pass is needed only when some nodes in the middle of the
graph don't have a GPU implementation. Without it, all computation after
that node would be on CPU.

This part should be implemented only on the new gpu back-end under
sandbox/gpuarray/opt.py. The optimization have been refactored to have less
copied with small twist code. This will also prevent the creation of some
extra node

[2016-03-24 13:12] Sentient07 commented on #1681
@nouiz also, could you please provide more details on "do optimizer={O0,O1,O2,O3} where O0 is fast_compile and O3 fast_run?" please ?

[2016-03-24 14:01] #4053 closed

[2016-03-24 14:40] nouiz commented on #1681
This idea isn't completly defined.

Right now, we don't have granularity between fast_run and fast_compile. It
would be useful in some case to have something in between. So if we find
optimization that are slow in some cases and we can't speed them up (or
don't have time to do it now), we could disable them in O1 or O2. If
someone work on this, I would recommand to start by making an O2 and remove

[2016-03-24 15:00] wcy0319 opened #4291 "ImportError "from theano.sandbox.cuda import filter as type_support_filter""
I get the ImportError by the line, "from theano.sandbox.cuda import filter as type_support_filter".Can anyone help me?Thanks!

[2016-03-24 16:48] Sentient07 commented on #1681
@nouiz To have something in-between is ```optimizer_excluding=slow ``` I guess ? So whatever the optimisations that are slowing down the fast_compile mode should be grouped, removed from fast_compile mode and put on to the optimizer_excluding=slow mode. Right ?

[2016-03-24 16:48] nouiz commented on #4291
Can you give the full error mesage? The problem is probably that the GPU
isn'T enabled. Did you set the Theano flag device=gpu?

Also, user question are better asked on theano-user mailing list.

On Thu, Mar 24, 2016 at 11:00 AM, wcy0319 <notifications@github.com> wrote:

[2016-03-24 19:52] PierrotLC opened #4292 "ImportException Theano"
Since last XCode command lines update yesterday, any theano function compilation - even the dumbest one - has raised an error, whereas theano was running well for 6 months I used Python 3.4 w/ other Anaconda packages.

So I did a clean install of my Mac, then reinstalled everything and now, importing theano raises an exception of failed compilation.
I join the partial screen shot :
[ImportExceptio

[2016-03-24 20:11] lamblin commented on #4292
Duplicate of #4277.

[2016-03-24 20:11] #4292 closed

[2016-03-24 20:11] lamblin commented on #4277
Should we reopen the issue so that it is more easily searchable?

[2016-03-24 21:00] Sentient07 commented on #1603
@nouiz , from the commit message, I guess shared variable as input is done and the test has been added. Can that be marked as done ?

[2016-03-24 21:08] Sentient07 commented on #1603
@nouiz in this PR, https://github.com/Theano/Theano/pull/4039 , i am using props_dict() for GPUOPs. Since i am using the __props__ you have asked me to remove the existing __hash__ and __eq__ methods. I guess it also applies here and we don't need them anymore ?

[2016-03-24 21:11] nouiz commented on #1681
To make optimizer_excluding=slow work, you only need to tag the slow
optimizer with the tag 'slow'. Normally, those optimization should not have
'fast_compile' as tag. I think we need to better doc how the selection of
which optimization will be run. Quickly, this work with tag. When we make
the selection, we give mostly 2 list of tags. The list of tags to include
and the list of tag to exclude. W

[2016-03-24 21:18] nouiz commented on #1603
Don't touch OpFromGraph. It is complicated and not used currently. So it is better to not to change it until we continue it more. I think OpFromGraph will need special \__hash__ and \__eq__method.

SharedVariable are now supported. I marked it as done. thanks.

[2016-03-24 21:20] Sentient07 commented on #1603
@nouiz Also, on moving it to the GPU, we need to follow the latter method, right ?

[2016-03-24 21:27] nouiz commented on #1603
I'm not sure what you mean by the latter method. But the PR that allow this op to work on GPU isn't merged. So on the issue of moving op to the GPU faster, it don't need to touch OpFromGraph. I think it is better that you don't touch it. I need much work to be useful and is not the current direction. As it don't work now on GPU, you don't need to do anything about it.

[2016-03-24 21:36] Sentient07 commented on #1603
In the sub-task

there are two approaches you have talked about there. Could i proceed with the second approach ?

[2016-03-24 21:36] nouiz commented on #4277
As it is fixed, I don't think we should reopen it. It would tell that we
didn't fix it. I think people will still find it if they google with the
error.

On Thu, Mar 24, 2016 at 4:11 PM, Pascal Lamblin <notifications@github.com>
wrote:

[2016-03-24 21:59] nouiz commented on #3029
Good point. I'm not sure what to do. In some cases, it gave pretty good
speed up and the non-deterministic behavior wasn't a problem.

I think the good solution is to switch to a default deterministic behavior
for your reason, but make it much faster then the current one. So that the
speed difference isn't as big.

We are working on making a simple Theano flag to easily switch between
those versio

[2016-03-24 22:09] around1991 opened #4293 "inc_subtensor doesn't handle Reshape nodes correctly"
Hi all

The following code errors:

[code]

I think the issue is in how inc_subtensor handles Reshape nodes. At line 1157, it says that the higher-dimensional subtensor ``x`` is flattened, but no flattening actually takes place. This causes dimension mismatches (because ``y`` is flattened).

Does anyone have a solution for this?

Thanks
Kris

[2016-03-24 23:42] nouiz commented on #4293
We know about this. The solution isn't fast, but we are going there.

If manually, you converte the indices matrix to a vector and reshape
yourself the output of the call to inc_subtensor, it should work. We do
that internally, but we loose the information of how to reshape back in
some cases.

If you can confirm that this fix your problem, it would be great.

On Thu, Mar 24, 2016 at 6:09 PM, arou

[2016-03-24 23:51] nouiz commented on #1603
Exact. We don't move this op to the GPU now, so you don't need to change it.

[2016-03-25 03:26] rachidasen opened #4294 "Theano can not compile with cuDNN"
After copy and pasting cudnn.h to /usr/local/cuda/include/
the following error message came

`Theano can not compile with cuDNN. We got this error:
/tmp/try_flags_Zk7PdX.c:5:19: fatal error: /usr/local/cuda/include/cudnn.h: Permission denied
 #include <cudnn.h>`

Then I change the permission of `/usr/local/cuda/include/cudnn.h` to 666, the following error came

`AssertionError: cuDNN optimization

[2016-03-25 08:39] ozancaglayan commented on #3029
Do we have an empirical evidence about the slowness of the non-optimized op? As I mentioned above, I see no difference at all in terms of minibatch update times. I can also compare the numbers on a GTX980 + CUDA 7.5 + CuDNNv4 setup if you'd like to.

[2016-03-25 12:27] PierrotLC opened #4295 "Scan ValueError on Theano 0.8, while runned well on 0.7"
My scan functions used to run well on previous Theano version 0.7.

After upgrading to 0.8 git version, I have a ValueError : `When compiling the inner function of scan (the function called by scan in each of its iterations) the following error has been encountered: The initial state (`outputs_info`in scan nomenclature) of variable IncSubtensor{Set;:int64:}.0 (argument number 1) has 4 dimension(s)

[2016-03-25 13:23] grayfall opened #4296 "Mac OS X 10.11.4 incompatibility"
I've recently updated to OS X 10.11.4 and Xcode 7.3 and I can no longer import Theano. I've already tried reinstalling the entire virtualenv environment several times. Another StackOverflow user [reported](http://stackoverflow.com/questions/36213642/mac-osx10-11-4-python3-import-theano-error) the same issue.

[code]

[2016-03-25 14:37] PierrotLC commented on #4296
https://github.com/Theano/Theano/pull/4281

[2016-03-25 14:41] abergeron commented on #4296
This is already fixed in the master, we will do 0.8.1 on Tuesday which will be 0.8.0 + the patch on #4281.

This was just unfortunate timing that Apple released Xcode 7.3 the day after our release.

[2016-03-25 14:41] #4296 closed

[2016-03-25 15:56] nouiz commented on #4296
There was a few other fixes in other PR. We should discuss if we include
them or not. They where fixes for python 3.5, some uft in strange config
and maybe a few others.

On Fri, Mar 25, 2016 at 10:41 AM, abergeron <notifications@github.com>
wrote:

[2016-03-25 18:21] benanne commented on #4269
As Jan pointed out in the Lasagne discussion thread, we would need special interfaces for both the softmax and the categorical cross-entropy. The 2D case will obviously be the most common, but it would be nice to transparently support 1D and 3D (and beyond?) as well. Finally, I think it is important that the API clearly distinguishes the softmax-over-locations and the softmax-per-location, since b

[2016-03-25 19:01] asimkievich opened #4297 "update does not have same type as original shared variable"
I am getting the error below, executing theano 0.8.0 from keras 0.3.2 - any hints?

TypeError: ('An update must have the same type as the original shared variable (shared_var=<TensorType(float32, matrix)>, shared_var.type=TensorType(float32, matrix), update_val=Elemwise{add,no_inplace}.0, update_val.type=TensorType(float64, matrix)).', 'If the difference is related to the broadcast pattern, you ca

[2016-03-25 22:32] Sandy4321 commented on #1871
Thanks
On Mar 22, 2016 16:05, "Mike Loukides" <notifications@github.com> wrote:

[2016-03-25 23:26] around1991 commented on #4293
Hi Fred, that works. I had to reshape the updates I passed in as well (to account for the flattened indices matrix).

Thanks for the suggestion! I hope the fix goes well :)

[2016-03-26 01:56] nouiz commented on #4293
This is the same problem as https://github.com/Theano/Theano/issues/3575, so I'll close this issue. You can subscribe to the other to be kept updated on this.

[2016-03-26 01:56] #4293 closed

[2016-03-26 01:59] nouiz commented on #3575
The fix would be to not do reshape/dimshuffle when we build the graph to use AdvancedSubtensor1 instead of AdvancedSubtensor. Now, on the CPU we support the full AdvancedSubtensor. We need to profile it we need to make a graph optimization to do the conversion.

If we do this change before  we implement AdvancedSubtensor on the GPU, we will need an optimization, otherwise, we need to time which ve

[2016-03-26 02:10] nouiz commented on #4297
If you make issue on different repo, link them to help keep the information
linked. I give an answer on the other ticket:

https://github.com/fchollet/keras/issues/2083

On Fri, Mar 25, 2016 at 3:01 PM, asimkievich <notifications@github.com>
wrote:

[2016-03-26 02:31] nouiz commented on #4295
Normally, this error mean there is a problem in the user code. But if it
work with an older version of Theano, then I'm not so sure. I think we
always tested to raise that error correctly.

Do you use many taps for some recurrent value? If so, the initial state for
that state need to have an ndim of one more then the ndim of each iteration.

On Fri, Mar 25, 2016 at 8:27 AM, Pierre Luppi Chen <noti

[2016-03-26 02:32] nouiz commented on #4294
You didn't install cudnn correctly.

You need to install the header (*.h file) and also the shared library. *.so* file:

http://deeplearning.net/software/theano/library/sandbox/cuda/dnn.html

User questions/help request should be asked on stackoverflow or theano-user mailing list.

[2016-03-26 02:32] #4294 closed

[2016-03-26 07:10] PierrotLC commented on #4295
Thank you for answering Nouiz !
I use no taps, but outputs_info have 3 elements which are 3-D tensors.
I also have a 1D array as sequence.
The lambda function then has 4 inputs, 3 outputs and one update.

[2016-03-26 07:15] PierrotLC commented on #4295
I must also say that I upgraded to Python 3.5 w/ Anaconda 2.5. I don't know if this matters.
I gonna try to make the scripts run w/ the Python 3.4 I used to have, and still Theano 0.8.

[2016-03-26 08:29] PierrotLC opened #4299 "Older Theano version"
A dumb question :
Is it possible to download a previous version of Theano, like the 0.7 ?

Thanks in advance !

[2016-03-26 08:48] gokul-uf commented on #4299
yes,
use `pip install theano==0.7`,
more details at http://stackoverflow.com/questions/5226311/installing-specific-package-versions-with-pip

In fact, even a specific commit from source by using
`pip install --upgrade --no-deps git+git://github.com/Theano/Theano.git@<MD5sum of commit>`
http://www.deeplearning.net/software/theano/install.html#specific-git-commit

[2016-03-26 09:36] PierrotLC commented on #4299
Thank you very much !

[2016-03-26 09:36] #4299 closed

[2016-03-26 09:47] PierrotLC commented on #4295
I downgraded CLT to previous version for XCode 7.2, to use Theano 0.7.
The scripts run well then.
After that, I upgraded Theano to 0.8 (not the git version), that works w/ CLT XCode 7.2. Then I found the former ValueError.
I conclude that something not obvious has changed between Theano 0.7 and 0.8.

[2016-03-26 19:58] nouiz commented on #4295
Can you give the full stack trace and code to reproduce this?
Le 26 mars 2016 05:47, "Pierre Luppi Chen" <notifications@github.com> a
écrit :

[2016-03-27 02:02] ppalasek opened #4300 "Optimization failure due to: local_reduce_broadcastable"
Hello,

I am getting the following error when compiling my function:

[code]

Theano version I'm using is:
0.8.0.dev-fba8851ca5b2d6aa70f89c7b6e1343e55a7762c3

I was running the code on CPU.

Any suggestions on how to fix this?

It's quite a messy code I'm running at the moment so I don't know the exact source of the error, but I can try to narrow it down in the next few days.

Best,
Petar

[2016-03-27 08:52] gokul-uf commented on #4262
@lamblin I'd like to work on this
I suggest that we do it in Theano Op so that it is caught early/higher up in the compilation process.

[2016-03-27 10:58] PierrotLC commented on #4295
I won't bother you with that, as there may be 2000 coding lines.
I will test next week each computation inside the scan lambda function stack.
I think this must just be a stack/concatenate Theano operation that has changed between 0.7 and 0.8 and does not have the desired output anymore.

[2016-03-27 13:14] fluency03 opened #4302 "Initialisation of device gpu failed! Reason=CNMEM_STATUS_OUT_OF_MEMORY"
I am running the [example][1] `kaggle_otto_nn.py` of `Keras` with backend of `theano`. When I set `cnmem=1`, the following error comes out:

    cliu@cliu-ubuntu:keras-examples$ THEANO_FLAGS=mode=FAST_RUN,device=gpu,floatX=float32,lib.cnmem=1 python kaggle_otto_nn.py
    Using Theano backend.
    ERROR (theano.sandbox.cuda): ERROR: Not using GPU. Initialisation of device gpu failed:
    initCnmem:

[2016-03-27 13:57] gokul-uf commented on #4302
Could you try with `1.0` instead of `1`? according to the docs, it needs to be a float.

http://deeplearning.net/software/theano/library/config.html#config.config.lib.cnmem

[2016-03-27 14:35] MarcoCiccone opened #4303 "Bilinear_Upsampling requires to specify batch_size and num_input_channels"
Referring to this line:
https://github.com/Theano/Theano/blob/master/theano/tensor/nnet/abstract_conv.py#L570

this piece of code doesn't work with `batch_size` and/or `num_input_channels` set to `None`
it requires to specify the dimensions as scalar values

[2016-03-27 15:11] fluency03 commented on #4302
@gokul-uf yes. you are right. `1.0` is working.

[2016-03-27 15:12] #4302 closed

[2016-03-27 17:52] bqf2008 opened #4304 "fail to use Theano and Keras"
I installed Theano and Keras to apply neural network in python. However the compilation failed with errors in the attached file.
I'm a mac user with OSX10.11.4. I'm wondering what could the problem be?

[Error.docx](https://github.com/Theano/Theano/files/191023/Error.docx)

[2016-03-27 18:18] gokul-uf commented on #4304
Upgrade to the bleeding edge version of Theano. This is a known issue and will be fixed in 0.8.1 to be released on Tuesday.
See: https://github.com/Theano/Theano/issues/4296

[2016-03-28 01:43] adbrebs opened #4305 "Fail to load a pickled function"
I am pickling a complicated function involving random number generation. When I try to unpickle it, I get the following error:

[code]

Applying Fred's fix from #3535 solves the problem.

[2016-03-28 18:35] anayebi opened #4306 "clang: error: unknown argument: '-target-feature'"
I recently updated my Mac to use El Capitan v. 10.11.4, and I found that I am getting a "clang: error: unknown argument: '-target-feature'." error when running Theano 0.8.0.

Is there a workaround for this?

Thanks in advance!

[2016-03-28 18:46] nirum commented on #4306
The answer here:
http://stackoverflow.com/questions/36213642/mac-osx10-11-4-python3-import-theano-error

suggests that it is a problem with the latest version of Xcode, but that there will be an update tomorrow (3/29/2016) that will fix it.

[2016-03-28 20:41] dhdaines commented on #2754
Hi, I am still seeing this problem with Theano 0.8.0 - launching 3-5 jobs at the same time on the same machine, inevitably I get an EOFError at some point (but it is stochastic).

theano.version.full_version is 0.8.0.dev-4b76348319c0b752c7af5c564e3e28d3135194cf

(this is a checkout of the rel-0.8.0 tag)

[2016-03-29 05:48] #4306 closed

[2016-03-29 08:09] kevin-keraudren opened #4307 "OpenMP support on Mac OS X"
OpenMP can be installed on a Mac with `brew install clang-omp`. The C++ compiler that needs to be used for the '-fopenmp' flag to work is then:

[code]

However, theano expects either g++ or clang++ as a custom compiler, so here:

https://github.com/Theano/Theano/blob/master/theano/gof/cmodule.py#L1828

we should add:

[code]

[2016-03-29 12:30] nouiz commented on #4306
You can update Theano to the dev version until the new release. It is
stable, you can use it without problems.

Fred
Le 29 mars 2016 01:48, "Aran Nayebi" <notifications@github.com> a écrit :

[2016-03-29 12:41] nouiz commented on #4307
thanks. Do you want to make a PR? We can do it if you prefer.

On Tue, Mar 29, 2016 at 4:09 AM, Kevin Keraudren <notifications@github.com>
wrote:

[2016-03-29 12:53] nouiz commented on #4275
The problem isn't the slowness. The problem is a a combination of how thinks work in Theano and how Python garbage collector work. Python GC free object when the refcount reach 0. It detect cycle of reference from time to time, but this isn't the most efficient way and delay the clean up to when Python this GC cycle detection. This produce conter intuitive result in some cases and make Theano user

[2016-03-29 13:23] nouiz commented on #2754
Can you give the stack trace that you have when this happen? Is the
compiledir/your home directory local to that computer or remote via NFS or
something else?

On Mon, Mar 28, 2016 at 4:41 PM, David Huggins Daines <
notifications@github.com> wrote:

[2016-03-29 13:30] Sentient07 commented on #4275
Yes, now it makes sense to me why we will resort to the second method. Could you please explain more about this ? Is that slower part about the delaying the cleanup?

[2016-03-29 13:53] xeray commented on #3006
Hi Pascal and Frédéric,

it's been half a year now and I ran into the same issue again. This time I intended to use np.nan to mark targets that are not available (--> mask with ``T.isnan`` and set loss to ``0.0`` where applicable).

Unfortunately I didn't remember my own issue here - unless I spent quite some time trying to figure out where my devastating ``nan``-gradients originate from.

I think

[2016-03-29 15:08] nouiz commented on #4305
Fixed by: https://github.com/Theano/Theano/pull/4310

[2016-03-29 15:12] nouiz commented on #4304
closing as duplicate of gh-4296. To have the work around Xcode interface change, use Theano dev version:

http://www.deeplearning.net/software/theano/install.html#bleeding-edge-install-instructions

[2016-03-29 15:12] #4304 closed

[2016-03-29 15:41] dhdaines commented on #2754
Sure, here is an example stack trace.  I have
THEANO_FLAGS=base_compiledir=/tmp/.theano-dhd,floatX=float32 so the
compiledir should be local to each machine (however several jobs do get
scheduled at once on the same machine, as it is a small SGE grid).

  File
"/data/nas/tools/python/Python-2.7.8-install/lib/python2.7/site-packages/theano/compile/function.py",
line 266, in function
    profile=pro

[2016-03-29 17:57] fnmps opened #4311 "theano_backend: Bug when device is changed from cpu to gpu"
There is a problem when you change from CPU to GPU using:
`theano.sandbox.cuda.use('gpu')`

On theano_backend.py the following code:
[code]

is not expecting that change, making it cause an error, for example, in this condition statement on the same file:
`if _on_gpu() and dnn.dnn_available():`

since it will return true from `_on_gpu() ` but the dnn isn't defined because it failed to run the code

[2016-03-29 17:59] nouiz commented on #4311
Where those _on_gpu() is used? It whould be:

def _on_gpu():
      import theano.sandbox.cuda
      return theano.sandbox.cuda.cuda_enabled

This is the right way to know if the GPU was enabled.

On Tue, Mar 29, 2016 at 1:57 PM, Filipe Silva <notifications@github.com>
wrote:

[2016-03-29 18:04] fnmps commented on #4311
It is at least used in the conv2d function.

That is not the problem. The problem is if you start with cpu the _on_gpu will return false (as it should) and it won't import the dnn (again as it is expected).

However if you change at a later time to gpu, the condition to import the dnn is not executed, but the _on_gpu is returning true, therefore causing the following error:

`NameError: global nam

[2016-03-29 18:12] lamblin commented on #3006
I don't think that Theano has to be stricter in that regard than the C or CUDA compiler, which do offer an `isnan` function that is inconsistent when `-ffastmath` is passed.
That being said, if you have an idea how the behaviour could be changed, we can discuss it.

[2016-03-29 20:55] nouiz commented on #4311
This method isn't from Theano. Where it come from?

On Tue, Mar 29, 2016 at 2:05 PM, Filipe Silva <notifications@github.com>
wrote:

[2016-03-29 21:39] fnmps commented on #4311
Oh, you're right!

Just noticed this is in keras and not theano package.

[2016-03-29 21:41] #4311 closed

[2016-03-30 04:38] lamblin commented on #4303
Indeed. We should `input.shape[0]` and `input.shape[1]` instead if they are not None.

[2016-03-30 04:44] lamblin commented on #4295
The interface for [`tensor.stack`](http://deeplearning.net/software/theano/library/tensor/basic.html#theano.tensor.stack) has changed indeed, but the previous behaviour should have been retained with a warning.
It may also be that scan is now stricter than it used to be, and not ignoring any more something that should have been an error.
In any case, please keep us updated.

[2016-03-30 06:43] PierrotLC commented on #4295
Thank you Pascal for your answer !
Indeed I use 7 times the old tensor.stack version w/out axis precised.
What are the new errors recognized by 0.8 scan version that were not by previous one ?

[2016-03-30 07:26] PierrotLC opened #4312 "General behavior of Scan"
It is a general question about `scan` behavior. Not particularly on 0.8 version, because I had the issue on previous 0.7 one.
Let us take a specific task as example (a linear algebra one) : the Cholesky downdate rank 1, which is roughly speaking iterating a loop inside a loop and at the same time taking into account a vector which is updated 'in place'.
What I observe is that none of my Scan versi

[2016-03-30 10:11] netphantom opened #4313 "Import problem Theano 0.8.0 and Python 3.4"
Since I upgraded from theano 0.7.0 I am issuing an import problem on my computer (Mac Os X 10.11.4). When I try to run:
`import theano`

Using PyCharm 2016.1 and Python 3.4

This is my .theanorc:
[global]
floatX = float32
openmp = 1
device = cpu

[nvcc]
fastmath = 1

[cuda]
root = /usr/local/cuda

[lib]
cnmem= 1

I got this error:
/Library/Frameworks/Python.framework/Versions/3.4/bin/python3.4 /Us

[2016-03-30 10:16] gokul-uf commented on #4313
Please upgrade to Theano 0.8.1

[2016-03-30 10:20] netphantom commented on #4313
I forced pip to install Theano 0.8.1 and it solved the problem. Thank you

[2016-03-30 10:50] gokul-uf commented on #4313
@netphantom You're welcome :)  Please close this issue

[2016-03-30 10:51] #4313 closed

[2016-03-30 11:40] xeray commented on #3006
Hi Pascal,

thanks for your fast reply.
Given that we cannot change the specs of the compilers, I think the best idea is to issue a warning (or even raise an exception) at the point when the ``isnan``-node is translated to C or CUDA code by the theano compilation pipeline (conditioned on the stat of the fastmath flag).

However, I am not sure whether there is not an additional problem independent

[2016-03-30 13:40] nouiz opened #4314 "Move theano.sandbox.softsign to tensor/nnet/nnet.py"
Add tests for it too and make sure it get in the doc.

[2016-03-30 13:52] mgermain opened #4315 "Removing pygments dependency"
I don't think that `pygments` is still a dependency for the documentation.

http://deeplearning.net/software/theano/install.html#requirements

[2016-03-30 13:58] nouiz commented on #4315
I also think that. The last time that line in the doc that tell is a
dependency was changed is in 2010.

Also grep about it to make sure to remove all reference. There was one in a
conf file.

On Wed, Mar 30, 2016 at 9:52 AM, Mathieu Germain <notifications@github.com>
wrote:

[2016-03-30 15:02] nouiz opened #4316 "Doc get_op_param and its relationship to props and \__init__ with an example."

[2016-03-30 15:35] nouiz opened #4317 "Remove Op._op_use_c_code attribute"
We should use the flag theano.config.cxx everywhere.

[2016-03-30 17:17] lamblin commented on #3006
OK, so in that case it has nothing to do with fastmath.
The issue is the way the gradient of `square` is implemented, as `2 * dloss/dout * (target - pred)`. `dloss/dout` is `[ 1.,  1.,  1.,  1.,  0.,  0.]`, so at that point at the backprop, the gradient wrt the constant output is 0, but then it gets multiplied by `target - pred`, which is `[ 0.30000001, -0.30000001,  0.        ,  0.        ,

[2016-03-30 17:45] xeray commented on #3006
Ok, that makes sense to me. Thanks for explaining.

[2016-03-30 20:13] lamblin opened #4318 "Memory leak with multi-GPU"
Reported at https://groups.google.com/d/topic/theano-dev/z2yhOEcDA5A/discussion

[2016-03-30 21:48] lamblin opened #4319 "Disable test values in get_substream_rstates"
In `theano/sandbox/rng_mrg.py`, the method `get_substream_rstates` creates a Theano graph and compiles it into a function, in order to seed the substreams of an RNG.
This is troublesome when setting `compute_test_values != 'off'`, because the test value mechanism complains even though this is not the graph being explicitly built by the user.

We should temporarily set `compute_test_values = 'off'

[2016-03-30 21:57] mr-mcox opened #4320 ""Illegal Instruction: 4" when running nosetests on OS X"
When running nose, I receive an illegal instruction error, causing Python to quit unexpectedly:
[code]
I'm running Python 3.5.1 on OS X 10.11.3.
What suggestions do you have about diagnosing and resolving this issue?

[2016-03-30 22:19] lamblin opened #4321 "Disable test values in BNComposite.__init__"
In `tensor/nnet/bn.py`, we build a scalar graph for the Composite Op.
This is troublesome when using `compute_test_values != 'off'` because the inputs of that graph are created without test values.
Since it is not possible to get test values from the inputs (we will have access to the tensor inputs in `make_node` only), we should temporarily set `compute_test_values = 'off'` for that part.

[2016-03-30 22:21] lamblin commented on #4320
Can you try the suggestions given in #3780?
I'm wondering if it is a similar issue.

[2016-03-30 22:31] dwf commented on #4321
Can you just assign arbitrary scalar test values as a workaround?

[2016-03-30 22:34] lamblin commented on #4321
Yes, but I don't think that it would be a shorter fix.

[2016-03-30 22:39] mr-mcox commented on #4320
@lamblin I tested the instructions in #3780 and am still encountering the error, though this output may give you some greater insight into my stack:

[code]

Note that I tried all three flags listed, but have only posted the output from the last one. What would you like me to try next?

[2016-03-30 22:50] lamblin commented on #4320
OK, thanks.
Some people suggested adding something like `-mmacosx-version-min=10.6` to the compilation options, maybe that is something you can try (maybe 10.11 or 10.10 in your case?), that may be worth a try.
It may also be an issue in Theano, in which case it would help to know which test is failing. You can try to run `theano-nose -v` or `nosetests -v path/to/Theano/theano` so that the name of

[2016-03-30 23:50] mr-mcox commented on #4320
@lamblin - I'm probably doing something incorrectly with the compilation option, as the output indicates that the flag I passed was ignored. If I should be using a different syntax, let me know.

[code]
I did some investigation on the "test_grad" test by commenting out all lines (which causes the test to pass) and incrementally uncommenting them until I found the line that causes the illegal instr

[2016-03-31 03:24] wcy0319 commented on #4291
@nouiz thanks! you ara right,issue solved.

[2016-03-31 03:24] #4291 closed

[2016-03-31 11:59] nouiz commented on #4320
Can you try it like this? I think Pascal wanted to test that as the value,
not as a Theano flag:

THEANO_FLAGS='gcc.cxxflags=-mmacosx-version-min=10.11' ...

On Wed, Mar 30, 2016 at 7:50 PM, mr-mcox <notifications@github.com> wrote:

[2016-03-31 13:47] nouiz commented on #2754
This stack trace is for an old Theano version.

uninstall Theano multiple time to be sure it is not there, then reinstall
it. Install at least Theano 0.8.

I check the current code and there is special code to handle that. So it
should not happen anymore normally.

On Tue, Mar 29, 2016 at 11:41 AM, David Huggins Daines <
notifications@github.com> wrote:

[2016-03-31 13:55] nouiz commented on #4275
There is 2 different problems:

1) the max recursion
2) the delayed python GC of compiled Theano function.

Both of them are related to how Theano have its internal representation. 2) is only caused by the internal representation having circular reference. To fix one 1) We need to break circular reference and after use a good order of operation.

1) can be fixed independently of 2). But if we fix

[2016-03-31 14:38] mr-mcox commented on #4320
Thanks @nouiz . Unfortunately, the result is basically the same:

[code]

[2016-03-31 14:43] nouiz commented on #4320
CAn you go in the file theano/gof/cmodule.py and apply this diff:

index ab596ed..1abd735 100644
--- a/theano/gof/cmodule.py
+++ b/theano/gof/cmodule.py
@@ -1810,6 +1810,7 @@ class GCC_compiler(Compiler):
         # Those URL discuss how to find witch flags are used by
-march=native.
         # http://en.gentoo-wiki.com/wiki/Safe_Cflags#-march.3Dnative
         # http://en.gentoo-wiki.com/wiki/Har

[2016-03-31 15:00] #4305 closed

[2016-03-31 15:05] yobibyte commented on #4314
I would like to take it.

[2016-03-31 15:08] nouiz commented on #4314
thanks.

On Thu, Mar 31, 2016 at 11:05 AM, yobi byte <notifications@github.com>
wrote:

[2016-03-31 15:53] nouiz opened #4322 "GPU implementation of Diag"
This was needed on the mailing list: [theano-users] What is the fastest way to create a diagonal matrix from a vector?

There is a work around:
non_zero_indices = theano.shared((np.arange(0,d)*(d)+np.arange(0,d2)).astype('int32'),name='non_zero_indices')
update_gamma_delta_large = theano.function(inputs=[],updates=[(gamma_delta_large,T.set_subtensor(gamma_delta_large[non_zero_indices],gamma_delta)

[2016-03-31 16:02] nouiz commented on #4300
You can ignore this. Theano will ignore that trouble some case.

Can you give a function_dump() so that we investigate this?

http://www.deeplearning.net/software/theano/library/compile/function.html#theano.compile.function.function_dump

thanks

On Sat, Mar 26, 2016 at 10:02 PM, Petar Palasek <notifications@github.com>
wrote:

[2016-03-31 16:03] abergeron commented on #4262
I think that all the points are addressed now.

[2016-03-31 16:03] #4262 closed

[2016-03-31 16:33] lamblin commented on #4320
And probably comment out the line after as well, since `detect_march` would get reassigned anyway otherwise.

[2016-03-31 16:54] mr-mcox commented on #4320
@nouiz @lamblin short story - no luck. I modified cmodule, adding `detect_march = False` and commenting out the next line so that it now reads:

[code]

I tried running with each of the arch flags ( eg `THEANO_FLAGS='gcc.cxxflags=-march=corei7-avx' theano-nose -v`) and without any at all, resulting in the same Illegal Instruction. I also added an `assert False` like so:

[code]

And saw that this

[2016-03-31 16:58] mr-mcox commented on #4320
Also, in case its of interest, I'm running this on an iMac 17,1 with an Intel Core i5. I'm happy to share any other specs that may be relevant.

[2016-03-31 17:04] lamblin commented on #4320
So it seems we have ruled out the flags passed to the compiler as a culprit.
I'm puzzled by the fact that it happens during the call to `theano.function()`, since I think it should only call Python code, not C code we would have generated.

I'll try to dig a bit, but in the mean time, could you try launching the test with C code generation disabled? For instance `THEANO_FLAGS=cxx='' theano-nose -v

[2016-03-31 17:06] ppalasek commented on #4300
Hi nouiz,

the function dump is attached: [one_mini_batch_step_dump.pkl.zip](https://github.com/Theano/Theano/files/198145/one_mini_batch_step_dump.pkl.zip)

When I changed the type of one variable from itensor3() to ftensor3() (so that all the computation is done with float32) the error didn't appear. But in this case I need to cast some values to int32 later when I use them in e.g. indexing some

[2016-03-31 17:10] mr-mcox commented on #4320
@lamblin Disabling C code generation causes the test to pass. Here are the results of running the test with C code generation, then without:

[code]

I'm also doing some digging [here](https://wiki.gentoo.org/wiki/Safe_CFLAGS#Intel) to see if there are a different set of flags that I ought to be passing.

[2016-03-31 17:31] lamblin commented on #4320
Thanks.
My next suspect is the compilation of the sub-function of OpFromGraph, namely [that call to `orig_function`](https://github.com/Theano/Theano/blob/master/theano/compile/builders.py#L131-L133). Could you add prints or a breakpoint to see if the error happens during that execution?
Just to be sure, can you also clear the compile cache?

[2016-03-31 17:49] mr-mcox commented on #4320
@lamblin I deleted the pycache and showed that the instruction occurs in orig_function.  I added an `assert False` before orig_function - result: test fail. Movinge the `assert False` to after the orig_function call (line 134) resulted in the illegal instruction.

Using the same technique, I have determined that the illegal instruction occurs [here within orig_function](https://github.com/Theano/T

[2016-03-31 18:17] nouiz commented on #4320
The constant_folding optimization can compile and use C code. Can you add
this Theano flag to see if this happen in an optimization?

optimizer_verbose=True

On Thu, Mar 31, 2016 at 1:49 PM, mr-mcox <notifications@github.com> wrote:

[2016-03-31 18:19] lamblin commented on #4320
I don't have any specific ideas of things to check yet, unfortunately.
To speed up the process, you can put a pdb breakpoint in `orig_function`, and call `step` to step inside the execution, and then `next` to go to the next line or `step` to go one level deeper.
It may be possible that one call to `orig_function` succeeds but the second call could fail.

[2016-03-31 19:48] mr-mcox commented on #4320
@nouiz
the optimizer_verbose flag doesn't appear to change the result:
[code]

@lamblin I think that we're getting somewhere (and thank you both for your guidance). I've traced the illegal error to lazylinker_c. Here's the outputs that include the arguments that are being passed:

[code]

Where would you like me to go from here?

[2016-03-31 19:53] nouiz commented on #4320
optimizer_verbose print on the stdout, by default nosetests hide it.

Add the parameter "-s" to the nosetests call:

THEANO_FLAGS='optimizer_verbose=True' theano-nose -v -s
theano/compile/tests/test_builders.py:T_OpFromGraph.test_grad

On Thu, Mar 31, 2016 at 3:48 PM, mr-mcox <notifications@github.com> wrote:

[2016-03-31 19:55] mr-mcox commented on #4320
@nouiz Good call. Does this help?

[code]

[2016-03-31 20:38] nouiz commented on #4320
Sorry, it won't help, as this print after the optimization was tried...

Can you try to disable constant_folding by using this flag:

optimizer_excluding=constant_folding.

If this fix it, it don't make it sure that this is the problem as this
could highly change which optimization get applied. But would be a good
indicatin. The other option is to put a break point in the opt itself and
check if i

[2016-03-31 20:47] mr-mcox commented on #4320
Here's the result of the adding the optimizer, including the args just before the illegal instruction. I'll poke around in the opt.py file in a little bit.

[code]

[2016-03-31 21:29] lamblin commented on #4320
OK, so it really comes from `lazylinker_c.CLazyLinker.__init__`, i.e., when we set up the machinery that will call the computations for each node when we need to compute outputs given inputs.
Can you try using the Python version of that machinery? You can do that by passing `linker=vm` in the `THEANO_FLAGS`.

[2016-03-31 21:46] mr-mcox commented on #4320
@lamblin That passes without any warnings or fanfare:
[code]
Are we getting closer to diagnosing the underlying issue with this passing test?

[2016-03-31 21:49] mr-mcox commented on #4320
For what it's worth, I ran the rest of the tests with `THEANO_FLAGS=linker=vm` and about 30 tests passed before:

`theano/compile/tests/test_function.py::TestFunctionIn::test_in_mutable Illegal instruction: 4`

[2016-03-31 21:56] lamblin commented on #4320
`test_in_mutable` explicitly sets `mode='FAST_RUN'`, which supersedes `linker=vm` set globally, so the issue really seems to be in the CVM.
Now, diagnosing the exact issue would be harder. You can use the vm for your code in the mean time if the performance hit is not too bad, I think.

[2016-03-31 22:23] lamblin commented on #4320
Debugging further would mean going through the `CLazyLinker_init` method [here](https://github.com/Theano/Theano/blob/master/theano/gof/lazylinker_c.c#L230) and checking where the error occurs.
It may be done by launching Python itself inside gdb, or I guess by littering `sprintf`s everywhere and clearing the cache to force a recompilation.

[2016-03-31 22:43] Sentient07 commented on #4275
Thanks for this explanation. I understand now. As you have asked me earlier, I have allotted 2 weeks for this (and little work WRT pickling). So I think I would have time for both 1) and 2). If you think it would take more than that, I will start the work little earlier depending on what @abergeron and @lamblin say

[2016-03-31 22:47] Sentient07 commented on #1057
@nouiz , I would like to work on "tensorinv Calculate an inverse of a tensor". Is anyone else working on that ?

[2016-03-31 23:19] nouiz commented on #1057
It have been started at:

https://github.com/Theano/Theano/pull/1973/files

Do you want to finish it? It is probably close to be done, but we don't
have too much time to review this this week and next week. But if you feel
confortable with that part of theano, you can try it.

On Thu, Mar 31, 2016 at 6:47 PM, Ramana Subramanyam <
notifications@github.com> wrote:

[2016-04-01 00:09] mr-mcox commented on #4320
Here's a debugging session in gdb that I think shows the most (but probably doesn't get us far):

[code]

I've tried putting `printf`s in the CLazyLinker_init function like so:

[code]

deleting the __pycache__ folder and running

`theano-nose -v -s theano/compile/tests/test_builders.py:T_OpFromGraph.test_grad`

but the string that I expected to see doesn't print. Any ideas what I'm doing wrong? A

[2016-04-01 07:24] wangg12 opened #4325 "theano.tensor.squeeze() is not as expected ?"
[code]
It seems `squeeze()` does nothing. Is this a bug?

[2016-04-01 10:53] Sentient07 commented on #1057
Sure. I'll fork that work and see what is yet to be done and would comment there if I have any questions. I'll try to finish this up by this weekend and will remind you 2 at the end of next week for reviewing.
Thanks

[2016-04-01 12:37] igormq opened #4326 "FAST_RUN running slower than FAST_COMPILE"
This issue has already been posted in theano-users group almost 1 month ago and no one was able to solve this. In fact, others users noticed the same bug.

So, I am reposting here hoping that someone could shed some light on it.

I'm trying to configure theano on my windows machine. When running this test:

[code]

The output using cpu and FAST_RUN is

[code]

The output using cpu and FAST_COMPILE

[2016-04-01 13:24] nouiz commented on #4325
squeeze will only remove broadcastable dimensions. Theano broadcastable
dimensions aren't dependent of the shape, but on the type.

theano.shared() by default suppose the shape can change. So by default, all
dimensions are not broadcastable. So by default squeeze don't remove them.
You can specify shared variable broadcastable dimensions like this:

(5,)

On Fri, Apr 1, 2016 at 3:25 AM, Wang Gu <n

[2016-04-01 13:46] abergeron commented on #4320
What are you using as a compiler?  Is it the default clang or some version of GCC?

[2016-04-01 14:09] wangg12 commented on #4325
@nouiz Got it. Thanks!

[2016-04-01 14:09] #4325 closed

[2016-04-01 14:36] mr-mcox commented on #4320
@abergeron To my knowledge, the default is still clang as shown below - if there's something else that I should try to verify that, let me know.
[code]

[2016-04-01 14:54] fvisin commented on #4162
This should be a good spot to place the optimization: https://github.com/Theano/Theano/blob/149d008d528277988867089cb607105e706910c4/theano/tensor/opt.py#L1805

The goal is to detect indexing with 0 or -1 on broadcastable dimensions, which boils down to dropping that dimension (so we don't need a subtensor, at least on that axis).

[2016-04-01 19:40] abergeron commented on #4320
How did you get you python3.5 binary?

[2016-04-01 20:03] mr-mcox commented on #4320
I installed via homebrew
On Fri, Apr 1, 2016 at 2:40 PM abergeron <notifications@github.com> wrote:

[2016-04-01 20:31] lamblin commented on #4320
When I mentioned the compilation cache, I was thinking of Theano's one, that you can clear by `theano-cache clear` or `theano-cache purge`, not Python's `__pycache__` directory.
If you delete it, this should trigger a recompilation of the code for CLazyLinker, and the prints should then show.

[2016-04-01 20:38] nouiz commented on #4320
Can you try again with gdb and this Theano flag:

cmodule.remove_gxx_opt=True

It should help get more information.

On Fri, Apr 1, 2016 at 4:31 PM, Pascal Lamblin <notifications@github.com>
wrote:

[2016-04-02 04:40] gokul-uf opened #4328 "CudaNdarray errors in nosetests"
While running tests on the bleeding edge, I get the following errors

[code]
I am running the tests in `cpu` mode. @nouiz had mentioned that this is indeed an error in the tests.
REF: https://groups.google.com/forum/#!topic/theano-dev/Nsw2GyxLcps

@lamblin I'd like to work on this if you could tell me how I should go about it

[2016-04-02 17:56] SsnL opened #4329 "function that returns gamma and gammaln sets compute_test_value"
Function that returns gamma/gammaln of the input variable sets <code>compute_test_value</code> to 'raise'

e.g.

    off

    Elemwise{gammaln,no_inplace}.0

    off

    raise

[2016-04-02 18:02] nouiz commented on #4329
It don't do this for me. I think the problem is related to Theano cache and
PyMC3. Did you used it? If so, it could be loaded when we load Theano
cache. But when it get imporeted, it set compute_test_value to raise.

If you don't use PyMC3 anymore, you can delete your Theano cache
"theano-cache purge". It should fix this.

On Sat, Apr 2, 2016 at 1:56 PM, SsnL <notifications@github.com> wrote:

[2016-04-02 18:04] SsnL commented on #4329
Yes, I used PyMC3 at one point. The command worked like a charm. Thanks! :+1:

[2016-04-02 18:04] #4329 closed

[2016-04-03 21:15] nouiz commented on #4328
This is the commit that cause an error:

$ git bisect bad
7a97cfe85a2163839c0a08c9b35377f3057f5fa7 is the first bad commit
commit 7a97cfe85a2163839c0a08c9b35377f3057f5fa7
Author: Ramana.S <vxrram95@gmail.com>
Date:   Wed Feb 3 05:29:02 2016 +0530

    Added required __future__ imports

:040000 040000 8a290d5444cb9092381e8561366bf965d1499b1f
b01695926015fff39dfd245d0b6092bc13a7849e M      benchmark

[2016-04-03 21:26] nouiz commented on #4328
thanks, here is the fix:

https://github.com/Theano/Theano/pull/4330

On Sun, Apr 3, 2016 at 5:15 PM, Frédéric Bastien <frederic.bastien@gmail.com

[2016-04-04 01:55] zeka0 opened #4331 "Softmax computation error"
I have tried a following sentence in python2.7:
[code]
And surprisingly the answer is:
*[[  4.34532158e-250   1.00000000e+000   8.88680500e-181   3.81917535e-104
    1.84436182e-094   1.22098825e-161   1.36392181e-178   3.95043019e-071
    1.19367302e-183   3.92557897e-043]]*

I have tried the same thing on matlib and it reports that because the operation exp(xT) causes some values to be Inf, the

[2016-04-04 03:02] gokul-uf commented on #4328
Will close as soon as PR is accepted

[2016-04-04 04:05] JesseLivezey commented on #4331
The value could be 1.-4e-43 (next largest value), but this truncates to 1. even in float64. You're putting numbers that are around 7k with differences of 100 into exponentials and running into the limits of floating point values.

[2016-04-04 06:55] alexjc opened #4332 "NaN errors in Convolution on MacOS (El Capitan only, CPU device)"
I recently released a neural network image generation project based on Lasagne and Theano, and all users on El Capitan reported seeing NaN errors in the output:
https://github.com/alexjc/neural-doodle/issues/8

It's doing basic conv2d operations: on OSX Yosemite it's fine, as well as any Linux platform. Inserting a `NanGuardMode` into the `theano.function()` call actually fixes it—but none of the

[2016-04-04 17:18] avati commented on #4318
Hi,
Is there anything I can help with to make progress on this issue?

Thanks!

[2016-04-05 20:03] alexjc commented on #4332
This was fixed in 0.8.1. Thanks!

[2016-04-05 20:03] #4332 closed

[2016-04-05 20:32] josvr opened #4337 "UserWarning: downsample module has been moved"
Hi,

I just upgraded from Theano 0.7 to 0.8,  When I use:

`from theano.tensor.signal import downsample`

I get:

`/usr/local/lib/python3.4/dist-packages/theano/tensor/signal/downsample.py:6: UserWarning: downsample module has been moved to the theano.tensor.signal.pool module. "downsample module has been moved to the theano.tensor.signal.pool module.")`

But if I use:

`from theano.tensor.signal.

[2016-04-05 21:56] nouiz commented on #4337
Le 5 avr. 2016 13:41, "Jos van Roosmalen" <notifications@github.com> a
écrit :

/usr/local/lib/python3.4/dist-packages/theano/tensor/signal/downsample.py:6:
UserWarning: downsample module has been moved to the
theano.tensor.signal.pool module. "downsample module has been moved to the
theano.tensor.signal.pool module.")

Use

From Theano.tensor.signal import pool

And use the pool_2d() function.

F

[2016-04-05 21:56] NNM11 opened #4338 ""Python setup.py Develop" failed on installing dependencies"
When I installed Theano with the Git and "python setup.py develop" commands.  It failed on dependent libraries.  System: Python 3.5 64bit, on a Windows 10 enterprise PC.
Is there a way to fix this? Thx.
----
The log:

_D:\Theano>python setup.py develop
running develop
running egg_info
creating Theano.egg-info
writing dependency_links to Theano.egg-info\dependency_links.txt
writing requirements to

[2016-04-05 22:25] lamblin opened #4339 "Port GpuCumSum to the new back-end"
Sub-ticket of #1471.

[2016-04-05 23:54] nouiz commented on #4338
Python 3.5 on windows is troublesome. Use another python version. 2.7 or 3.4 should be good.

Closing as duplicate of https://github.com/Theano/Theano/issues/3376

[2016-04-05 23:54] #4338 closed

[2016-04-05 23:55] #4337 closed

[2016-04-05 23:57] nouiz opened #4341 "float16 vector x matrix should reuse matrix x matrix instead of staing on the CPU."
https://groups.google.com/d/topic/theano-users/oKWekxAFRM0/discussion

[2016-04-06 03:11] fayeshine opened #4342 "feature request: support for cudnn v5 rc"
Anyone can help this? https://developer.nvidia.com/rdp/cudnn-download

[2016-04-06 04:45] nouiz commented on #4342
We have it here for new convolution:

https://github.com/mgermain/Theano/tree/cudnn5

It will probably be merged this week.

On Tue, Apr 5, 2016 at 8:11 PM, Wenjian Huang <notifications@github.com>
wrote:

[2016-04-06 10:43] zeka0 commented on #4331
Thanks! Now I understand why this happens now.

[2016-04-06 10:43] #4331 closed

[2016-04-06 16:58] dwf commented on #4268
The stabilized gradient should be something like c - d or d - c.

[2016-04-06 17:02] bouthilx commented on #3174
@nouiz @lamblin ExtractDiag will be deprecated in favor of theano.tensor.basic.Diagonal, see #4169.

[2016-04-06 17:04] bouthilx commented on #4322
@nouiz AllocDiag will be deprecated in favor of theano.tensor.basic.Diag, see #4169.

[2016-04-06 17:11] dwf commented on #4268
Another MILA student just encountered this bug, by the way. It is pretty much impossible *not* to encounter the bug if you are using adversarial networks with batch normalization.

[2016-04-06 18:19] lamblin commented on #4312
We try to keep the tickets for bug reports and feature requests, for such questions you would have better luck on theano-users or StackOverflow.
One remark:  your `assert` calls are not doing anything, since the symbolic output of `T.eq(...)` will always compare to `True`. If you actually want to include assertions, you could do something like:
`X = T.assert_(X, T.eq(X.shape[1], p))`. To check the

[2016-04-06 18:19] #4312 closed

[2016-04-06 18:58] gokul-uf commented on #4315
This is `git grep "pygments"` output

[code]

@nouiz  I think we can go ahead and remove the pygments dependency.

[2016-04-06 19:06] gokul-uf commented on #4315
@nouiz @mgermain disregard my previous message. I checked `sphinx` docs. They say that you need `pygments` for code highlighting. Guess we still have pygments as a dependency, then. http://www.sphinx-doc.org/en/stable/intro.html#prerequisites

[2016-04-06 19:08] gokul-uf commented on #4307
@kevin-keraudren  could you close this? Thanks

[2016-04-06 19:20] mgermain commented on #4315
Thanks for looking that up.

On Wed, Apr 6, 2016 at 3:06 PM, Gokula Krishnan <notifications@github.com>
wrote:

[2016-04-06 21:04] nouiz commented on #4322
If that don't remove feature, I'm good with that.

[2016-04-06 21:15] nouiz commented on #4315
Can you add that information in the doc/conf.py file just before adding it
with the link to where this add the dependency?

@mgermain, I think we should add it in the soft dependency for doc in the
setup.py file. What do you think?

On Wed, Apr 6, 2016 at 12:20 PM, Mathieu Germain <notifications@github.com>
wrote:

[2016-04-06 21:15] nouiz commented on #4307
done, so closing.

[2016-04-06 21:15] #4307 closed

[2016-04-06 21:24] mgermain commented on #4315
Yup, I'll add it to the optional deps in the setup.py now.

On Wed, Apr 6, 2016 at 5:15 PM, Frédéric Bastien <notifications@github.com>
wrote:

[2016-04-06 21:27] bouthilx commented on #4322
Should not. I would add tickets for a full GPU implementation for both Diagonal (successor of ExtractDiag) and Diag (successor of AllocDiag). This ticket could simply be renamed with AllocDiag->Diag.

[2016-04-06 21:32] nouiz commented on #4322
I think we support some of the case in Theano right now. We should not
merge a PR that would temporarily remove that. So just double check that. I
think we currently support ExtractDiag on the GPU, so I'm not sure why you
make it a separate task.

On Wed, Apr 6, 2016 at 2:27 PM, Xavier Bouthillier <notifications@github.com

[2016-04-06 21:45] mgermain commented on #4141
Just noticed that the documentation about cuDNN is out of sync in the old and new backend and is out of date.

NEW: doc/library/sandbox/gpuarray/dnn.py
OLD: doc/library/sandbox/cuda/dnn.py

We should probably just add a note about the upcoming deprecation of the old backend and update the new backend doc with all the supported algorithms for convolutions.

[2016-04-06 22:00] fvisin commented on #4141
Thanks, I added it to the todo list. This is going to be a neverending ticket I fear!

[2016-04-06 22:11] mgermain commented on #4141
Héhé, If there is sticky issues in git this one should but one :P

On Wed, Apr 6, 2016 at 6:00 PM, Francesco <notifications@github.com> wrote:

[2016-04-06 22:45] bouthilx commented on #4322
ExtractDiag and Diagonal does the same thing, except ExtractDiag also runs on the GPU and Diagonal support extra parameters (so it's more flexible). The new version of Diagonal would work on the GPU with default parameters, as for ExtractDiag, but only on CPU for non-default values.

I was planning to make a ticket to add GPU support for any values, not only the default ones. I'm breaking it down

[2016-04-07 00:28] SinaHonari commented on #4162
Considering the problem with a[:, :, None, :], if I replicate it, it seems like _pattern_ and _view_ are correct and I get [0, 1, 'x', 2] for _pattern_ and DimShuffle{0,1,x,2}.0 for _view_. I'm not sure if _new_args_ is correct, though, I'm getting [slice(None, None, None), slice(None, None, None), slice(None, None, None), slice(None, None, None)] for it. If it's colon, it just passes that in line

[2016-04-07 03:10] fvisin commented on #4162
`[slice(None, None, None), slice(None, None, None), slice(None, None, None), slice(None, None, None)]` is the expected result, because the `:` indexes correspond to `slice(None, None, None)` and `None` is replaced with `slice(None, None, None)` [here](https://github.com/Theano/Theano/blob/149d008d528277988867089cb607105e706910c4/theano/tensor/var.py#L519).

What you need to do is detect that patte

[2016-04-07 03:13] fvisin commented on #4141
Ahahahah definitely! :)

[2016-04-07 07:07] sherjilozair commented on #4342
@nouiz, any plans on also wrapping the the RNN implementation?

[2016-04-07 18:19] lamblin commented on #2801
The earlier test case does not produce that graph anymore. Here is another test:
[code]

[2016-04-07 19:45] Saizheng commented on #2801
I think here is some inconsistency about Subtensor and IncSubtensor:
When I check their 'idx_list' attribute, Subtensor returns a **list** pbj, while IncSubtensor returns a **tuple** obj.

[2016-04-08 01:53] nouiz commented on #4303
Just a follow up, a PR have the fix: https://github.com/Theano/Theano/pull/4343/files, it just miss a test.

[2016-04-08 01:55] nouiz commented on #4322
look good. thanks.

On Wed, Apr 6, 2016 at 3:45 PM, Xavier Bouthillier <notifications@github.com

[2016-04-08 03:01] nouiz commented on #2801
Tuple and list are frequently interchangeable as in this case. The
important is what is in them and there length.
Le 7 avr. 2016 12:45, "Saizheng" <notifications@github.com> a écrit :

[2016-04-08 03:36] fayeshine opened #4345 "do we support multi-gpu for a single training"
do we support multi-gpu for a single training or do we plan to support?

[2016-04-08 06:52] cheolho commented on #3084
I met the similar error.

`nvcc --version` gives

`nvidia-smi` gives

Storage map footprint in the error message gives

Could you give me any idea to solve this problem?

[2016-04-08 07:16] hlin117 opened #4346 "Row-wise sparse matrix multiply miscalculations"
Using theano development version, commit 7943ab37580fc4f1436d93bb455ff7731be3c28d, I was able to produce this bug on Mac OS X El Capitan. Only one number in the sparse output was the correct result.

Can someone copy-paste the following below, and confirm the existence of the bug?

[code]

[2016-04-08 07:39] nouiz commented on #4346
This is the output I would expect. What did you expect? Try this with NumPy
and you should also have the same result.

Fred
Le 8 avr. 2016 00:16, "Henry Lin" <notifications@github.com> a écrit :

[2016-04-08 07:53] hlin117 commented on #4346
Hi @nouiz. I calculated the above using numpy, which is producing the intended results.
[code]
Maybe I'm not being clear. My concern is that the theano sparse multiply above is yielding the incorrect calculation here. Only the `1.66666665e-001` looks correct.
[code]

(It's also possible that `theano.sparse.mul` is not supposed to perform a row-wise multiplication. but I wouldn't be sure what multi

[2016-04-08 09:35] trungnt13 commented on #4345
http://deeplearning.net/software/theano/tutorial/using_multi_gpu.html

[2016-04-08 09:40] elanmart opened #4347 "Sparse dot on GPU"
@nouiz I have few questions abou sparse dot on GPU
- why is it low priority? Seems like a crucial feature for nlp
- why is it hard? Wrapping cuSPARSE should be fairly simple?
- could you point me to the code you already have for this? I may be interested in implementing this.

Thanks.

[2016-04-08 12:19] Glexin opened #4348 "Some problems about sparse.basic.structured_dot"
I write a script to get familiar with the sparse dot operations. I try structured_dot, dot, true_dot, and found some problems in structured_dot.
Environment : numpy 1.10.2, scipy 0.16.1, theano 0.7.0, CentOS 6.2
Problems in theano sparse dot:
1. structured_dot doesn't return sparse mat when one of the operands is dense, this doesn't match the doc.
2. If sturctured_dot(A, B). Calculate sturctured_d

[2016-04-08 12:34] Glexin commented on #4348
I found that the the uploaded file is not found. Here is the script:
[code]

[2016-04-08 15:30] #4345 closed

[2016-04-08 15:55] lamblin commented on #4346
Theano should complain about a size mismatch (which it does when the Python code runs, for instance in DebugMode).
Broadcasting is not implemented for operations with sparse matrices because only 2D matrices are supported by scipy.sparse.
Instead, it appears to correctly compute the values of the first row and the position of non-zeros for the next ones, but not set any value for those non-zeroes

[2016-04-08 16:04] lamblin commented on #4347
- A generic sparse dot product is not really accelerated on GPU, unless the sparsity has a specific pattern, which is the case for the MLP tasks we care about. For instance, we used advanced indexing for extracting embeddings for a vocabulary, and a block-sparse dot product for hierarchical softmax.
- We would have to decide on an interface for the data types used by CuSPARSE, make them available

[2016-04-08 16:08] xguse opened #4349 "I am not seeing versions above 0.7.0 with `pip search theano`"
BUT when I go to pypi (https://pypi.python.org/pypi/Theano) the list the version hosted as 0.8.1.

Is there a problem with how the version is being listed inside the package maybe?  Or is the problem just in `pip` having issues getting the latest versions of the pkg db?

Anyone else seen this?

[2016-04-08 16:46] lamblin commented on #4349
It looks like an issue with how `pip` displays things, or tries to determine what the "latest" version is.
Calling `yolk -V theano` gives `Theano 0.8.1`, and calling `pip install Theano` on a system where Theano is not installed fetches 0.8.1.

[2016-04-08 16:46] #4349 closed

[2016-04-08 17:54] mcf06 commented on #3871
I've published an initial c_code()-based implementation of bindings for warp-ctc at https://github.com/mcf06/theano_ctc

CPU and GPU computation are supported.

This is set up as a separate repository, but folding it into Theano would be welcome.

[2016-04-08 18:22] gokul-uf commented on #4349
@xguse It seems that `pip` installs an older version if you have it locally.
Take a look at the answers [here](http://stackoverflow.com/questions/14617136/why-is-pip-installing-an-old-version-of-my-package)

[2016-04-09 10:50] lixin77 opened #4350 "Implementation of "R-ReLU" based on theano"
I want to implement the Randomized Leaky Rectified Linear Unit and the script does work on **theano vector**. My script is below:
*****************************************************
def ReLU(x):
    y = T.maximum(0.0, x)
    return(y)

def RReLU(x, rng):
    srng = RandomStreams(seed=rng.randint(99999))
    y, updates = theano.scan(lambda v: ifelse(T.gt(v, 0.0), v, v * srng.uniform(low=3.0, high

[2016-04-09 18:40] shampool opened #4351 "An error with bilinear_upsampling"
`AsTensorError: ('Cannot convert (None, None, Elemwise{mul,no_inplace}.0, Elemwise{mul,no_inplace}.0) to TensorType', <type 'tuple'>)`

[code]

[2016-04-09 23:22] fvisin commented on #4351
This is most probably related to #4303, that is being addressed and should be fixed soon.
The next time please provide the complete error message.

[2016-04-10 00:48] lamblin commented on #4351
Closing as a duplicate of #4303.

[2016-04-10 00:48] #4351 closed

[2016-04-10 06:35] dsy412610 opened #4352 "Why I uninstall Theano failed?"
sudo pip uninstall Theano returns Can't uninstall 'Theano'. No files were found to uninstall. And If I try to upgrade Theano, it still failed with similar error.

[2016-04-10 07:20] gokul-uf commented on #4352
It should be
`sudo pip uninstall theano` with a small t.

[2016-04-10 08:41] dsy412610 commented on #4352
Thank you! I have solved the problem.

[2016-04-10 16:22] aaamourao commented on #689
Hi I got exactly this when running the following project [dblN/stochastic_depth_keras](https://github.com/dblN/stochastic_depth_keras)
I'm running it on a virtual environment with the following libraries installed
[code]

[2016-04-10 16:43] aaamourao commented on #689
My recursion limit:
[code]

[2016-04-10 22:06] lamblin commented on #4350
- Those kinds of questions should be asked on `theano-users` or StackOverflow, we try to keep the tickets for bug reports or feature requests
- As the [documentation](http://deeplearning.net/software/theano/tutorial/conditions.html) mentions, you can use `theano.tensor.switch` to have conditions in a tensor.

[2016-04-10 22:06] #4350 closed

[2016-04-11 00:37] dementrock opened #4353 "relu optimization causing NaN in certain cases"
[code]

[2016-04-11 02:05] lixin77 commented on #4350
Thanks a lot and I have found another approach to solve this problem

[2016-04-11 02:24] jdc08161063 opened #4354 "ValueError: CudaNdarray_CopyFromCudaNdarray: need same dimensions for dim 0, destination=2, source=4"
I'm running the code with scan:
[code]
it has an error:
[code]

But when i run it step by step, the code is correct, and the error disappear. Does anyone else has the same problem?

[2016-04-11 03:10] jdc08161063 commented on #4354
moreover, when i run it use for, it's correct.
for i in np.arange(5):
    te = step_nei_test(table_,keys_,filled_,capacity_,key_size_,position)
    table_ = te[0]
    keys_ = te[1]
    filled_ = te[2]
    capacity_ = te[3]
    key_size_ = te[4]
    position = te[5]

does anyone knows why? and how to do it with scan

[2016-04-11 04:02] lamblin commented on #4354
Can you run that code in DebugMode?

[2016-04-11 04:37] SinaHonari commented on #4162
@fvisin: I made the first commit.

[2016-04-11 05:07] baymin1217 opened #4357 "how can I get CudaNdarraySharedVariable's shape?"
train, valid, test = load('mnist.pkl.gz')
trans_test, shift_test, ori_test = translation(test[0], 28)
trans_test, shift_test, ori_test = shared((trans_test, shift_test, ori_test))

the first output of function translation is the input

type(trans_test)
<class 'theano.sandbox.cuda.var.CudaNdarraySharedVariable'>

trans_test should be images, so how could I transfer the data of trans_test to images

[2016-04-11 06:09] jdc08161063 commented on #4354
@lamblin I tested the instructions in DebugMode and am still encountering the error. In the scan operation, can I change the length of table_? In the _find function, i will double the length of table_. Did it cause the error?

[2016-04-11 10:01] tete1030 opened #4358 "PersistentNdarrayLoad in pkl_utils.py doesn't process same object properly"
As mentioned in #4238 and mila-udem/blocks#1031  , I encountered the same problem when I use function __theano.misc.pkl_utils.load__ with default __persistent\_id__ parameter, __PersistentNdarrayLoad__.

If __PersistentNdarrayLoad.\_\_call\_\___ receives two same __persid__, it will return two different objects with same value instead of one single object, which causes __AssertionError__ in __\_co

[2016-04-11 12:45] nouiz commented on #4351
Can you give the full error message? We can't help with just that part.
Le 9 avr. 2016 14:40, "Yuanpu Xie" <notifications@github.com> a écrit :

[2016-04-11 13:41] lamblin commented on #4353
That particular case can be solved by an optimization that would do CGer(0, x) -> 0, or maybe even dot(0, x) -> 0.
But that would not solve the issue of simplifying the gradients through `abs` that show up here.
Maybe the best solution would be to have a ReLU Op that has a better implementation of `grad`, and that then gets optimized away.

[2016-04-11 13:46] shampool commented on #4351
@nouiz  Thanks for the reply！ It turns out to be  a similar problem with  #4303.

[2016-04-11 13:46] lamblin commented on #4354
When you say you are encountering the error, do you mean that you have the same exact error message and stack trace? Or does it fail with a different error?

You cannot change the shape of a recurrent state between timesteps, no. That would indeed cause errors like this one. You can use a larger tensor and only use a subset of it in earlier steps to circumvent that. If you have questions with that

[2016-04-11 13:46] #4354 closed

[2016-04-11 13:55] nouiz opened #4359 "Doc Scan limitation and work around related to states that must have the same shape at each iterations."
This pop up from time to time in the doc.

Also, maybe give an example of the error on CPU and GPU, so that people would find it when they google with that error.

[2016-04-11 13:56] nouiz commented on #4354
This request that the state/output must be the same shape at each time
already come, so I made an issue to document it:

https://github.com/Theano/Theano/issues/4359

On Mon, Apr 11, 2016 at 9:46 AM, Pascal Lamblin <notifications@github.com>
wrote:

[2016-04-11 13:56] lamblin commented on #4357
Please use `theano-users` or StackOverflow for such questions.
We try to keep the tickets about bug reports and feature requests.

For your question, you would have to compile a theano function that outputs the value you care about.
If you are not familiar with the difference between symbolic variables and numerical values, please refer to the [documentation](http://deeplearning.net/software/thean

[2016-04-11 13:56] #4357 closed

[2016-04-11 14:36] bouthilx opened #4360 "GPU implementation of Diagonal"
When #4169 is merged, theano.tensor.basic.Diagonal will now run on the GPU for default properties: offset, axis1 and axis2. We should modify perform to support non-default values on the GPU, or write a GpuOp if it is not possible to handle non-default values with python code.

[2016-04-11 16:15] nouiz commented on #689
Just to be sure, when you use the proposed work around, it fix for you too?

[code]

[2016-04-11 16:23] aaamourao commented on #689
@nouiz Yep, I think it was kind of a pilot error. I thought it could be a related bug, but it was just a matter of increasing the recursion limit to `2800`.

[2016-04-11 17:47] mgermain opened #4361 "Test failining theano.sandbox.gpuarray on master (7943ab3)"
I ran the theano.sandbox.gpuarray tests on the last master(7943ab37580fc4f1436d93bb455ff7731be3c28d) with floatX=float32 and nothing else in my .thenaorc and I got some errors. This all works in float64.

[code]

[2016-04-11 18:21] dementrock commented on #4353
@lamblin I vote for a better implementation of grad for the RELU op. It seems like a cleaner approach.

[2016-04-11 18:38] #4328 closed

[2016-04-11 19:13] yobibyte commented on #4314
Done? #4324

[2016-04-11 19:18] nouiz commented on #4314
yes. I'm closing.

[2016-04-11 19:18] #4314 closed

[2016-04-11 19:32] yobibyte commented on #1824
I will have a look on this.

[2016-04-11 19:43] nouiz commented on #1824
I just checked and it don't return None anymore and it look good. So I'm closing this.

Did you had a problem with this PR or you where looking for something to help us?

[2016-04-11 19:43] #1824 closed

[2016-04-11 19:55] yobibyte commented on #1824
No problems there, just willing to help. Do you have any suggestions?

[2016-04-11 20:05] nouiz commented on #1824
There is a label for issue that are easy to help you get started with Theano:

https://github.com/Theano/Theano/issues?q=is%3Aopen+is%3Aissue+label%3A%22Easy+fix%22

[2016-04-11 20:09] yobibyte commented on #1824
Ok, thanks.

Sincerely yours,
Vitaly Kurin

On Mon, Apr 11, 2016 at 10:06 PM, Frédéric Bastien <notifications@github.com

[2016-04-12 00:15] jdc08161063 commented on #4354
@lamblin @nouiz thanks, i fixed the code.

[2016-04-12 05:17] JunjieHu commented on #4170
Hi @nouiz

I also have the same problem for the min.  I add "import pdb" at the beginning of "theano/sandbox/cuda/__init__.py" and add "pdb.set_trace()" just before calling "min". And I get the following error message.

`Using Theano backend.
Traceback (most recent call last):
  File "/home/jjhu/Research/lstm/lstm_text_generation.py", line 14, in <module>
    from keras.models import Sequential

[2016-04-12 10:23] jpiabrantes opened #4364 "Indecipherable traceback error when using GPU"
I get a Traceback error when I import theano.

Here's the command line output with the Traceback in the end:
[code]

Do you guys understand what's going on? I'm using windows 10

[2016-04-12 10:37] jpiabrantes commented on #4364
My .theanorc was pointing to anacondas compiler instead of visual studio. Had to change the line:

`compiler_bindir=C:\Anaconda2\MinGW\bin`

to:

`compiler_bindir=C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\bin`

[2016-04-12 10:37] #4364 closed

[2016-04-12 10:47] jpiabrantes opened #4365 "Speed up theano: GPU 10x slower than CPU"
I have a couple of "Model" Gaussians these gaussians have a fixed attribute named color, a fixed variance and a variable centre (mu) that depends on the value of 4 theano scalars. I have an energy function which I want to maximize that computes the color similarity of these "Model" Gaussians with other 400 gaussians weighted by the distance of their centres and their sigmas. I want to maximize thi

[2016-04-12 11:07] tete1030 commented on #4358
I was wrong about the code at Line 79 in _sharedvalue.py_. It seems like a duplicate check of **container**.

[2016-04-12 12:30] subodhq commented on #4342
From the paper the results look very impressive, can't wait for the theano integration to see it live :)

[2016-04-12 14:57] nouiz commented on #4170
Uninstall Theano. Do this many times and try to import to be sure there
isn't many version installed. After that, install Theano 0.8.1. It is
probably mixed Theano version.

On Tue, Apr 12, 2016 at 1:17 AM, JunjieHu <notifications@github.com> wrote:

[2016-04-12 17:22] nouiz commented on #4321
We can use the decorator to change it for just a function. We should add a test for that too.

@theano.configparser.change_flags(compute_test_value='off')

issue: https://github.com/Theano/Theano/issues/4319 is also the same problem, but at a different place.

[2016-04-12 23:48] lukas-schott opened #4368 "Batch normalization NaN on GPU with optimizer"
Hey,
if I run a class lasagne.layers.BatchNormLayer layer for the input data. I could reduce my error to the following piece of code (should run plug and play):

[code]

I get the following NaN output with THEANO_FLAGS='device=gpu' python test.py:

[code]

If I run it on the CPU or with THEANO_FLAGS='device=gpu, optimizer=None' python test.py it works

[2016-04-13 11:32] igormq commented on #4326
Anyone?

[2016-04-13 13:06] nouiz commented on #4365
The GPU won't speed up computation for scalar or small matrix of size 3x3.
It need "big" input size to speed up computation.

To help you speed that up, you can use Theano profile to see where the
bottleneck is:

http://deeplearning.net/software/theano/tutorial/profiling.html

There is also this doc section that tell how to lower the Theano function
call overhead that can be significant:

http://d

[2016-04-13 13:25] nouiz commented on #4326
For the GPU, the problem is that the bottleneck for the GPU usage is the
transfer to/from the GPU and not the computation. The output is moved to
the CPU (the input is on the GPU). See this doc section on how to tell
Theano to return something that is on the GPU:

http://deeplearning.net/software/theano/tutorial/using_gpu.html#returning-a-handle-to-device-allocated-data

On the CPU, for the FAST_R

[2016-04-13 16:08] nouiz commented on #4342
Just an update, we merged that in Theano master.

We also want to wrap the RNN stuff. But we don't know when it will be done.
So if someone want to help and work on it shortly, it would be great.

On Tue, Apr 12, 2016 at 8:30 AM, subodhq <notifications@github.com> wrote:

[2016-04-13 17:27] nouiz opened #4372 "Remove neighbourhoods"
This is an old version of neighbours. We kept it as it was a little bit more flexible, but it have too much restriction. So I would get rid of it. Objection?

todo so:

git rm theano/sandbox/neighbourhoods.py theano/sandbox/tests/test_neighbourhoods.py

then update the files Theano.pyproj and theano/tests/test_flake8.py that point to it.

[2016-04-13 20:20] lamblin commented on #4372
No problem.
I'm not even sure this is actually more flexible than neighbours, since "ignore_borders" have been added to neighbours at some point.

[2016-04-14 07:22] #4352 closed

[2016-04-14 09:53] gokul-uf commented on #3813
@nouiz  I checked the numpy repo for triu and tril implementation at https://github.com/numpy/numpy/blob/1429c606643d1ad305e710c4a31cb6f398d04c53/numpy/lib/twodim_base.py
It looks like they use only the last two values of shape.
I am a bit unsure about the notion of triu and tril for higher dimensional matrices. Could you or @galinngeorgiev elaborate on it?

Thanks

[2016-04-14 17:00] lamblin commented on #4365
Also, please use `theano-users` or StackOverflow for such requests for support.
We try to keep the ticket about bug reports and feature requests.

[2016-04-14 17:00] #4365 closed

[2016-04-14 18:25] mfplass commented on #4320
I ran into this problem, too. It looks like the theano code that guesses what `-march` to use comes up with 'skylake' and just uses that. But `-march=native` actually generates a lot of `-target-feature` switches that say exactly which of the target features are present. Without these extra switches, `-march=skylake` generates code that the processor can't handle.

So `THEANO_FLAGS="gcc.cxxflags='

[2016-04-14 19:21] albertomontesg opened #4377 "Pool 2D optimization"
Hi all,

I'm training a quite large network using theano and this network starts with a 3D convolution layer and then a 3D Max Pool Layer. The network I talk about can be found [here](https://gist.github.com/albertomontesg/d8b21a179c1e6cca0480ebdf292c34d2). For training it I'm using Keras which allows very easily to do 3D convolution layers, but for 3D max pooling layers it makes 2 operation of ma

[2016-04-14 20:08] hantek commented on #4360
So question number one for the non-default properties:

We need numpy.transpose() to manipulate high-dim tensors, is there such a counterpart in CudaNdarray? I find "reshape" from dir(CudaNdarray) but that is not what we need.

[2016-04-14 20:12] bouthilx commented on #4360
I doubt we can do it with pure python. We will probably need to use pyCUDA or pure CUDA.

[2016-04-14 20:14] hantek commented on #4360
Could you point me some example codes of pyCUDA? Haven't written that before, but I know CUDA.

[2016-04-14 21:39] abergeron commented on #4320
Shit.  We don't really have a way to pass those `-target-feature` options and we can't just say "use `-march=native`" always because we want to know the architecture in order for the cache to recompile when the architecture changes.

So we are sort of in a bind with this.

[2016-04-14 23:02] lamblin commented on #4114
Closed by #4290.

[2016-04-14 23:02] #4114 closed

[2016-04-14 23:05] lamblin opened #4379 "Make stack trace tests in `tensor/tests/test_opt.py` use `check_stack_trace`."
Sub-ticket of #3018.
Follow-up of #4114.

The existing tests in `theano/tensor/tests/test_opt.py` use the new `check_stack_trace` function, instead of whatever they are using.
They should check for the outputs of the appropriate nodes, or for `'all'` if it works.

[2016-04-15 00:53] fchollet opened #4380 "Downsample module import warning"
The warning message below always appears when someone uses Keras with the Theano backend:

[code]

Nowhere in the Keras codebase is there any import related to this module. Keras only makes the following imports from Theano:

[code]

Can somebody give me a few pointers as to what could be triggering the warning message?

[2016-04-15 01:54] daweileng commented on #3810
That's will be very helpful for result reproduction. Is there any progress?

[2016-04-15 13:05] yobibyte commented on #1057
I will take **tensorsolve**.

[2016-04-15 14:03] nouiz commented on #4380
Could this be that you have old stuff in your Theano cache that cause that
old module to be imported?

Can you just delete your Theano cache and see if this fix it?

On Thu, Apr 14, 2016 at 8:53 PM, François Chollet <notifications@github.com>
wrote:

[2016-04-15 17:42] fchollet commented on #4380
Running `theano-cache clear` appears to have solved the issue for me. Quite a few people appear to experience the same issue, by the way.

Thanks!